 <div class="list-items item-card-pc hidden-xs">
    <table>
        <caption>Liste des clients</caption>

        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Email</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Mobile</th>
            <th scope="col">Role</th>
            <th scope="col">Créé le</th>
            <th scope="col"></th>
        <tr>
        <% @users.each do |user| %>
            <tr>
                <td class="item-image"><%= image_tag user.avatar_thumbnail, class: "image-pp" %></td>
                <th scope="row" class="item-name">
                    <%= link_to getcustomer_path(user) , class:"" do %>
                        <%= user.email %>
                    <% end %>
                </th>
                <td class="item-info"><%= user.name %></td>
                <td class="item-info"><%= user.firstname %></td>
                <td class="item-info"><%= user.phone %></td>
                <td class="item-info"><%= user.role %></td>
                <td class="item-info"><%= user.created_at %></td>
                <td>
                    <%= link_to ('<i class="fas fa-edit fa-2x"></i>').html_safe, '#' %>
                    <%= link_to ('<i class="fas fa-trash-alt fa-2x"></i>').html_safe, '#',class:"", method: :delete, :onclick => "return confirm('Etes vous sur?')", :remote => true %>
                </td>
            </tr>

            
        <% end %>
    </table>
</div>

 <div class="list-items item-card-pc hidden-md hidden-lg hidden-sm">
    <table>
        <caption>Liste des clients</caption>

        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        <tr>
        <% @users.each do |user| %>
            <tr>
                <td class="item-image"><%= image_tag user.avatar_thumbnail, class: "image-pp" %></td>
                <th scope="row" class="item-name">
                    <%= link_to getcustomer_path(user) , class:"" do %>
                        <%= user.email %>
                    <% end %>
                </th>
                <td class="item-info"><%= user.phone %></td>
                <td class="item-info"><%= user.role %></td>
                <td>
                    <%= link_to ('<i class="fas fa-edit fa-2x"></i>').html_safe, '#' %>
                    <%= link_to ('<i class="fas fa-trash-alt fa-2x"></i>').html_safe, '#',class:"", method: :delete, :onclick => "return confirm('Etes vous sur?')", :remote => true %>
                </td>
            </tr>

            
        <% end %>
    </table>
</div>