<div class="list-items item-card-pc">
    <table>
        <caption>Liste des commandes</caption>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Client</th>
            <th scope="col">Voiture</th>
            <th scope="col">Date de départ</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Prix de la location</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        <tr>
        <% @rentals.each do |rental| %>
            <tr>
                <th scope="row" class="item-name"><%= rental.id %></th>
                <td class="item-info"><%= rental.user.email %></td>
                <td class="item-image"><%= image_tag rental.car.cars_thumbnail.first , class: "image-pp" %></td>
                <td class="item-info"><%= rental.starts_on %></td>
                <td class="item-info"><%= rental.ends_on %></td>
                <td class="item-info"><%= rental.total_price_cents %></td>
                <td class="item-info"><%= rental.status %></td>
                <td>
                    <%= link_to ('<i class="fas fa-edit fa-2x"></i>').html_safe, '#' %>
                    <%= link_to ('<i class="fas fa-trash-alt fa-2x"></i>').html_safe, '#',class:"", method: :delete, :onclick => "return confirm('Etes vous sur?')", :remote => true %>
                </td>
            </tr>

            
        <% end %>
    </table>
</div>