<div class="list-items item-card-pc">
    <table>
        <caption>Liste des véhicules</caption>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Nom</th>
            <th scope="col">Plaque</th>
            <th scope="col">Adresse</th>
            <th scope="col">Année</th>
            <th scope="col">Type</th>
            <th scope="col">Prix</th>
            <th scope="col">Prix par km</th>
            <th scope="col">Propriétaire</th>
            <th scope="col">Société</th>
            <th scope="col"></th>
        <tr>
        <% @cars.each do |car| %>
            <tr>
                <td class="item-image"><%= image_tag car.cars_thumbnail.first, class: "image-pp" %></td>
                <th scope="row" class="item-name"><%= car.name %></th>
                <td class="item-info"><%= car.plaque %></td>
                <td class="item-info"><%= car.address %></td>
                <td class="item-info"><%= car.year %></td>
                <td class="item-info"><%= car.type_car %></td>
                <td class="item-info"><%= car.price_cents %></td>
                <td class="item-info"><%= car.price_by_km %></td>
                <td class="item-info"><%= car.user.email %></td>
                <td class="item-info"><%= car.society %></td>
                <td>
                    <%= link_to ('<i class="fas fa-edit fa-2x"></i>').html_safe, '#' %>
                    <%= link_to ('<i class="fas fa-trash-alt fa-2x"></i>').html_safe, '#',class:"", method: :delete, :onclick => "return confirm('Etes vous sur?')", :remote => true %>
                </td>
            </tr>

            
        <% end %>
    </table>
</div>