<div class="dashboard">   
    <div class="page-menu">
        <h2>Clients</h2>
       
        <%= paginate @users, theme: 'twitter-bootstrap-4' %>
        <%= form_tag(search_customer_path, method: "get", remote: true) do %>
            <div class="input-group mb-5">
                <div class="col-8" style="padding:0">
                    <%= text_field_tag :search_customer, '', class:'form-control', placeholder: 'Recherche de client ...', onkeydown:'clickSubmit();'%>
                </div>
                <div class="col-4" style="padding:0">
                    <%= submit_tag "Search", class:'btn btn-dark', id:'search_submit', style:'display:none'%>
                </div>
            </div>
        <% end %>
        
        <div id="menu-customer-container">
            <%= render 'customer'%>
        </div>


    </div>


</div>

<script>
    function clickSubmit() {
        $("#search_submit").trigger("click");
    }
</script>
