
<%= form_with url: "/update_car_device", method: :put do |form| %>
    <%= form.label :device_id, "device id" %>
    <%= form.text_field :device_id %>
    <%= form.label :car, "Choisis un véhicule MiFleet" %>
    <%= form.collection_select :car, @cars , :id, :name %>
    <%= form.submit "Ajouter" %>
<% end %>



<%= form_with url: "/gettoken", method: :get do |f| %>
    <label>Renseigner les véhicules MiFleet</label>
    <%= f.collection_select  :carA, @cars , :id, :name %>
    <%= f.collection_select  :carB, @cars , :id, :name %>
    <%= f.collection_select  :carC, @cars , :id, :name %>
    <label>Renseigner le compte Xee</label>
    <%= f.select(:account, options_for_select([ "compte1", "compte2", "compte3" ])) %>
    <%= f.submit "get token" %>
<% end %>