<div class="dashboard">   
    <div class="page-menu">
        <h2>Commandes</h2>
        <%= paginate @rentals, theme: 'twitter-bootstrap-4' %>
        <%= form_tag(search_orders_path, method: "get", remote: true, style:'display:none') do %>
            <div class="input-group mb-5">
                <div class="col-8" style="padding:0">
                    <%= text_field_tag :search_orders, '', class:'form-control', placeholder: 'Recherche de commandes ...', onkeydown:'clickSubmit();'%>
                </div>
                <div class="col-4" style="padding:0">
                    <%= submit_tag "Search", class:'btn btn-dark', id:'search_submit', style:'display:none'%>
                </div>
            </div>
        <% end %>
 

                
        <div id="menu-orders-container">
            <%= render 'orders'%>
        </div>

    </div>


</div>

