<div class="dashboard">   
    <div class="page-customer">
        <div class="title-customer">
            <h2>Informations personnelles</h2>
        </div>

        <div class="bloc-customer">
            <h4 class="text-customer">Informations générales</h4>
            <div class="bloc-info-customer">
                <h3 class=text-info-customer>Photo</h3>
                
            </div>
            <div class="line-customer"></div>

            <div class="bloc-info-customer">
                <h3 class=text-info-customer>Nom</h3>
                <h3 class=text-response-info-customer><%= @user.firstname %></h3>
            </div>
            <div class="line-customer"></div>

            <div class="bloc-info-customer">
                <h3 class=text-info-customer>Prénom</h3>
                <h3 class=text-response-info-customer><%= @user.name %></h3>
            </div>
            <div class="line-customer"></div>

            <div class="bloc-info-customer">
                <h3 class=text-info-customer>Créé le</h3>
                <h3 class=text-response-info-customer><%= @user.created_at %></h3>
            </div>


        </div>



        <div class="bloc-customer">
            <h4 class="text-customer">Coordonnées</h4>
            
            <div class="bloc-info-customer">
                <h3 class=text-info-customer>Téléphone</h3>
                <h3 class=text-response-info-customer><%= @user.phone %></h3>
            </div>
            <div class="line-customer"></div>

            <div class="bloc-info-customer">
                <h3 class=text-info-customer>Email</h3>
                <h3 class=text-response-info-customer><%= @user.email %></h3>
            </div>


        </div>

        

        <div class="bloc-customer">
            <h4 class="text-customer">Voitures</h4>
            <div class="customer-all-cars-bloc">
                <% @cars.each do |car| %>
                    <div class="customer-car-bloc">
                        <%= image_tag car.cars_thumbnail.first, class: "car-customer-image" %>
                        <h3 class="plaque-car-customer"><%= car.plaque %></h3>
                    </div>
                <% end %>

            </div>
        </div>


        <div class="bloc-customer">
            <h4 class="text-customer">Vérifications</h4>
      

            <div class="bloc-info-customer">
                <h3 class=text-info-customer>CNI</h3>
                <% if @user.cni == "not_verified" %>
                    <h3 class="text-response-info-customer notverified-color">En attente de vérification</h3>
                <% elsif @user.cni == "manual" %>
                    <h3 class="text-response-info-customer manual-color">En attente de validation</h3>
                <% elsif @user.cni == "verified" %>
                    <h3 class="text-response-info-customer validated-color">CNI validée</h3>
                <% else %>
                    <h3 class="text-response-info-customer">Pas de données</h3>
                <% end %>
            </div>
            <div class="line-customer"></div>

            <div class="bloc-info-customer">
                <h3 class=text-info-customer>License</h3>
                <% if @user.license == "not_verified" %>
                    <h3 class="text-response-info-customer notverified-color">En attente de vérification</h3>
                <% elsif @user.license == "manual" %>
                    <h3 class="text-response-info-customer manual-color">En attente de validation</h3>
                <% elsif @user.license == "verified" %>
                    <h3 class="text-response-info-customer validated-color">Permis de conduire validé</h3>
                <% else %>
                    <h3 class="text-response-info-customer">Pas de données</h3>
                <% end %>
            </div>
            <div class="line-customer"></div>

            <div class="bloc-info-customer">
                <h3 class=text-info-customer>Reconnaissance faciale</h3>
  
            </div>

        </div>

       


    </div>


</div>
