

<div class="dashboard">   
    <div class="page-menu">
        <h2>Statistiques</h2>
       
        <div class="stats-card">
            <caption>Locations par mois</caption>
            <%= column_chart @rentals.group_by_month(:created_at, format: "%b %Y").count %>
        </div>

        <div class="stats-card">
            <caption>Bénéfices par mois</caption>
            <%= column_chart @rentals.group_by_month(:created_at, format: "%b %Y").sum(:total_price_cents) %>
        </div>

        <div class="stats-card">
            <caption>Nombre d'utilisateurs</caption>
            <%= line_chart @data %>
        </div>



    </div>


</div>

