<div class="dashboard">   
    <div class="page-menu">
        <h2>Traccar lock</h2>
       
 
        <div class="list-items item-card-pc">
            <table>
                <caption>Traccar lock</caption>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Id location</th>
                    <th scope="col">Plaque voiture</th>
                    <th scope="col">Utilisateur</th>
                    <th scope="col">Door open</th>
                    <th scope="col">Anti-démarrage</th>
                    <th scope="col">Créé à</th>
                    <th scope="col">Modifié à</th>
                <tr>
                <% @rentals.each do |rental| %>
                    <tr>
                        <th scope="row" class="item-name"><%= rental.id %></th>
                        <td class="item-info"><%= rental.user.email %></td>
                        <td class="item-info"><%= rental.user.email %></td>
                        <td class="item-info"><%= rental.starts_on %></td>
                        <td class="item-info"><%= rental.ends_on %></td>
                        <td class="item-info"><%= rental.total_price_cents %></td>
                        <td class="item-info"><%= rental.status %></td>
                        <td class="item-info"><%= rental.status %></td>
                    </tr>

                    
                <% end %>
            </table>
        </div>

    </div>


</div>