<div class="list-items item-card-pc">

    <table>
        <caption>Liste des vérifications CNI</caption>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Manage</th>
        <tr>
        <% @verification_cni.each do |verif_cni| %>
            <tr>
                <td class="item-info"><%= verif_cni.id %></td>
                <th scope="row" class="item-name"><%= verif_cni.user.email %></th>
                <% if verif_cni.status == "await" %>
                    <td class="item-info"><p>En attente</p></td>
                <% elsif verif_cni.status == "validated" %>
                    <td class="item-info validated"><p>Validé</p></td>
                <% elsif verif_cni.status == "rejected" %>
                    <td class="item-info rejected"><p>Rejeté</p></td>
                <% end %>
                <td>
                    <%= link_to ('<i class="fas fa-edit fa-2x"></i>').html_safe, edit_verification_path(verif_cni) %>
                </td>

            </tr>

            
        <% end %>
  
    </table>

     


</div>

