<div class="list-items item-card-pc">

    <table>
        <caption>Liste des vérifications permis</caption>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Manage</th>
        <tr>
        <% @verification_driving_license.each do |verif_license| %>
            <tr>
                <td class="item-info"><%= verif_license.id %></td>
                <th scope="row" class="item-name"><%= verif_license.user.email %></th>
                <% if verif_license.status == "await" %>
                    <td class="item-info"><p>En attente</p></td>
                <% elsif verif_license.status == "validated" %>
                    <td class="item-info"><p>Validé</p></td>
                <% elsif verif_license.status == "rejected" %>
                    <td class="item-info"><p>Rejeté</p></td>
                <% end %>
                <td>
                    <%= link_to ('<i class="fas fa-edit fa-2x"></i>').html_safe, "#" %>
                </td>

            </tr>

            
        <% end %>
  
    </table>


</div>

