

<div class="dashboard">   
    <div class="page-menu">
        <h2>Vérifications CNI</h2>
        <h4>Client : <%= @verification.user.email %></h4>



        <%= image_tag @imageFront, class:"verif_cni_image" %>
        <%= image_tag @imageBack, class:"verif_cni_image" %>

      
        <%= form_for([@verification]) do |f| %>
            <%= f.hidden_field :status, :value => "validated" %>
            <%= f.submit 'Valider', class: "btn-verif btn-success" %>
        <% end %>

        <%= form_for([@verification]) do |f| %>
            <%= f.hidden_field :status, :value => "rejected" %>
            <%= f.submit 'Rejeter', class: "btn-verif btn-danger" %>
        <% end %>


    </div>


</div>


