

<div class="dashboard">   
    <div class="page-menu">
        <h2>Vérifications CNI</h2>
        <%= render 'cni' %>
        <%= paginate @verification_cni, theme: 'twitter-bootstrap-4' %>


        <h2>Vérifications permis</h2>
        <%= render 'license' %>
       
      



    </div>


</div>

