<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="container-login">
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="card-container-edit">
        <div class="card-login-update">
          <div class="card-header">
            <h3> <span><i class="fas fa-arrow-left"></i><span> </span><i class="fas fa-user-cog"></i></span> Votre compte</h3>
<!--             <div class="card-social social_icon_setting">
              <span><i class="fas fa-user-cog"></i></span>
            </div> -->

          </div>
          <div class="card-body-devise">
            <form>
              <div class="image-upload input-group-login">
                <label for="file-input">
                   <%= image_tag(resource.avatar_thumbnail ,:class =>"avatar_update") %>
                   <i class="fas fa-pen fa-2x"></i>
                 </label>
                 <%= f.file_field :avatar, id:"file-input", class: "avatar_file" %>
              </div>
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                 <%= f.text_field :firstname, autofocus: false, autocomplete: "nom", class: "form-control-login", placeholder: "nom" %>

                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                 <%= f.text_field :name, autofocus: false, autocomplete: "prénom", class: "form-control-login", placeholder: "prénom" %>
              </div>
              <div class="input-group-login", style="margin-bottom:30px;">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                </div>
                 <%= f.telephone_field :phone, autofocus: false, autocomplete: "mobile", class: "form-control-login", placeholder: "mobile" %>
              </div>
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                 <%= f.email_field :email, autofocus: false, autocomplete: "email", class: "form-control-login", placeholder: "email" %>
              </div>
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                </div>
              </div>
              <i style="color:white;">(Laisse vide si vous ne voulez pas changer votre mote de passe)</i><br />
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control-login" ,placeholder: "password" %>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control-login" ,placeholder: "confirmation password" %>
              </div>
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control-login" ,placeholder: "confirmation password" %>
              </div>
              <div class="input-group-login">
                <i style="color:white;">(Mot de passe actuel pour confirmer votre changement)</i>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <%= f.password_field :current_password, autocomplete: "current-password" , class: "form-control-login" ,placeholder: "current password" %>
              </div>

              <div class="form-group">
                <%= f.submit "Mettre à jour", class:"login_btn" %>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<% end %>
