<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="body-login">
    <div class="container-login">
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="card-container">
        <div class="card-login">
          <div class="card-header">
            <h3>Créer votre compte MiFleet</h3>
            <div class="card-social social_icon">
              <span><i class="fab fa-facebook-square"></i></span>
              <span><i class="fab fa-google-plus-square"></i></span>
              <span><i class="fab fa-twitter-square"></i></span>
            </div>
          </div>
          <div class="card-body-devise">
            <form>
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                 <%= f.text_field :firstname, autofocus: false, autocomplete: "nom", class: "form-control-login", placeholder: "nom" %>
              </div>
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                 <%= f.text_field :name, autofocus: false, autocomplete: "prénom", class: "form-control-login", placeholder: "prénom" %>
              </div>
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                 <%= f.email_field :email, autofocus: false, autocomplete: "email", class: "form-control-login", placeholder: "email" %>
              </div>
              <div class="input-group-login", style="margin-bottom:30px;">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                </div>
                 <%= f.telephone_field :phone, autofocus: false, autocomplete: "mobile", class: "form-control-login", placeholder: "mobile" %>
              </div>
              <% if @minimum_password_length %>
                <em style="color:white;">(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <br />
              <div class="input-group-login">

                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <%= f.password_field :password, autocomplete: "new-password" , class: "form-control-login" ,placeholder: "password"  %>
              </div>
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control-login" ,placeholder: "confirmation password" %>
              </div>
              <div class="form-group">
                <%= f.submit "S'inscrire", class:"login_btn" %>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>







