@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),	url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'),	url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'),	url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

input[type="submit"].button-delete-car {
    background:#dc3545;
    font-size: 1.25em;
    display: inline-block;
    width: 100%;
    padding: .5em 1em;
    margin: 0 .25em .5em 0;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color .2s ease;
    cursor: pointer;
}

input[type="submit"].button-delete-car:hover {
    color: #fff;
    background-color:  rgb(212, 40, 40);
    border-color: rgb(212, 40, 40);
}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"], a[href^="http://maps.google.com/maps"]{
    display:none !important;
}

.box-show {
    border-radius:3px;
    border: 1px solid;
    margin-top:30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}


.car_description {
  position: relative;
  margin: 0 auto;
  width: 800px;
}

.header {
    margin-top:30px;
}
.header h2{
    margin:0 auto;
    color:$green;
    font-size: 30px;
    margin-left: 10px;
  }

.header h3{
  margin:0 auto;
    color:grey;
    font-size: 15px;
    margin-left: 10px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3), 0 1px 1px rgba(0,0,0,0.3), 0 0 15px rgba(0,0,0,0.4);
  }
.scroller {
    width: 100%;
    height: 30%;
    margin: 0 auto;
  .slick-prev::before, .slick-next::before {
    color: white;
  }

  .slick-next {
    right: 5px;
  }
  .slick-prev {
    left: 5px;
    z-index: 1;
  }
}

.map-style {
    position: relative;
    width:100%;
    height:400px;


}

.carousel_car {
    position: relative;

    margin: 0 auto;
    width: 800px;
}

.space-btn {
    margin-top:20px;
}

// to remove because div row and div col with witdh 100%
.cars_display {
    max-width: 60%;
}

.cars_display_index {
    max-width: 60%;
    margin:auto;
}
// ----------------------------------------------------------
.container_search {
    position: relative;
    padding: 0px;
  }


  .box{
      display: none;
      width: 100%;
  }

  .card-link:hover + .box,.box:hover{
      display: block;
      position: relative;
      z-index: 100;
  }

  .card {
    height: 320px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: 100% 75%;
    background-position: top;
    background-color: #5E5E5E;
    color: white;
    position: relative;
    background-repeat: no-repeat;
  }



  .image-size-my-cars
  {
    height:80px;
    width:90px;
    top:10px;
    border-radius: 50%;
    position:relative;
    grid-column: 1;
  }






  .card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    text-transform: uppercase;
  }
  .card-description {
    position: absolute;
    bottom: -4px;
    left: 10px;
  }
  .card-description h2 {
    font-size: 24px;
    margin:0px;
    margin-bottom: 10px;
  }
  .card-description p {
    font-size: 14px;
    color: white;
  }
  .card-link {
    background-color: #5E5E5E;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
  }
  .card-link:hover {
    opacity: 0.1;
  }



  .display-page_my_cars {
    max-width: 90%;
    margin:auto;
    position:relative;
}

.display-filter_my_cars {
    width: 85%;
    margin:20px auto;
}

.display-my_cars {
  width: 100%;
  margin:auto;
  display: grid;
  grid-template-columns: 100%;
  gap : 15px;
}

.my_cars_card {
  background-color:#F4F4F4;
  opacity: 1;
  display:grid;
  grid-template-columns: 13% 60% 5%;
  cursor: pointer;
  width:1000px;
  height: 100px;
  margin:auto;
}

.my_cars_card:hover {
  opacity: 1;
}

.my_car_description {
  top: 20px;
  height:100px;
  position:relative;
  grid-column:2;
  color:black;
}
.my_car_description h2 {
  font-size: 18px;
  margin:0px;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);

}
.my_car_description p {
  font-size: 14px;
  opacity: 1;
  font-weight: lighter;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color:grey;
}

.address_my_cars {
  font-size: 16;
}

.new_car_app {
  color: black;
  position: absolute;
  //right: 10%; issue with click button
  top:5px;
  width:40px;
}







@media (max-width: 700px) {
    .cars_display {
        max-width: 90%;
        margin:auto;
    }

    .cars_display_index {
        max-width: 90%;
        margin:auto;
    }
    .card-link {
        background-color: #5E5E5E;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        background: black;
        opacity: 0;
      }

    .map-style {
        width: 100%;
        background-color:red;
    }

    .carousel_car {
        position: relative;

        margin: 0 auto;
        width: 96%;
    }

    .car_description {
        width: 96%;
        margin-left: 10px;
        margin-right: 10px;

    }

    .scroller {
    width: 100%;
    margin: 0 auto;

        div {
            text-align: center;
            font-size: 30px;
        }
        .slick-prev::before, .slick-next::before {
            color: white;
        }

        .slick-next {
            right: 5px;
        }
        .slick-prev {
            left: 5px;
            z-index: 1;
        }
    }

    .map-style {
      position: relative;
      width:100%;
      height:200px;


  }


  .display-page_my_cars {
    max-width: 90%;
    margin:auto;
    position:relative;
  }

  .my_cars_card {
    background-color: #F4F4F4;
    opacity: 1;
    display: grid;
    grid-template-columns: 30% 65% 5%;
    cursor: pointer;
    height: 100px;
    margin: auto;
    width:100%;
  }

  .my_cars_card:hover {
    opacity: 1;

  }

  .card:hover {
    opacity: 1;

  }

  .card-link:hover {
    opacity: 0;
  }

  .my_car_description .address_my_cars {
    font-size: 12px;
  }

  .title_my_cars {
    text-align: center;
    display:block;
    font-weight: bold;
  }
}


