.container-new-car{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #e6e6e6;
}

.wrap-new-car{
    width: 920px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 62px 55px 90px;
    margin: 0;
    box-sizing: border-box;
}

.form-new-car {
    width:100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-new-car{
    display: block;
    width: 100%;
    font-family: Montserrat-Black;
    font-size: 39px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 59px;
    font-weight: bold;
}

.car-input {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 13px;
    padding: 10px 30px 9px 22px;
    margin:0;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    
}

.label-new-car {
    font-family: Montserrat-SemiBold;
    font-size: 12px;
    color: #393939;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight:bold;
}

input[type="text"].input-new-car , select.input-new-car, textarea.input-new-car  {
    margin:0;
    padding:0;
    height: 40px;
    display: block;
    width: 100%;
    background: 0 0;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: #555;
    line-height: 1.2;
    padding-right: 15px;
    outline: none;
    border: none;
    box-shadow:none;
}

textarea.input-new-car {
    height: 300px;
    margin-top: 8px;
}

.new_car, .edit_car {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.title-input-car {
    color:#333;
    font-family: Montserrat-Black;
    font-weight:bold;
    width:100%;
}

.clear_input {
    background-image: url("croix.png");
    cursor: pointer;
    background-size: cover;
    width: 17px;
    height: 15px;
    opacity: 0.7;
    margin: auto;
}

.input-arrow {
    display: flex;
}

.file {
    width: 100%;
    display: block;
    font-size: 15px;
    margin-top: 8px;
    font-weight: 700;
    clear: both;
}

label.file input {
    display: inline-block;
    border: 1px solid #ddd;
    line-height: 1.25em;
    padding: .5em;
    transition: border-color .2s ease;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.0625) inset;
    color: #777;
    width: 100%;
}

button.btn-new-car {
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #5E5E5E;
    border-radius: 25px;
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    transition: all .4s;
    border:none;
}

button.btn-new-car i {
    transition: all .4s;
    margin: auto;
    margin-left: 12px;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    padding: 0;
    box-sizing: border-box;
}

.div-btn-new-car {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}



button.btn-new-car:hover i {
    transform: translateX(10px);
}


button.btn-new-car:hover {
    background-color: #333;
}

.width-395 {
    width:395px;
}
.width-130 {
    width:130px;
}
.width-245 {
    width:245px;
}
.width-187 {
    width:187px;
}
.width-157 {
    width:157px;
}
.width-197 {
    width:197px;
}
.width-267 {
    width:267px;
}

.width-127 {
    width:127px;
}



@media only screen and (max-width: 770px){
    .title-new-car{
        font-size:25px;
        padding-bottom:10px;
    }

    .title-input-car {
        font-size:20px;
    }

    .wrap-new-car {
        padding: 20px 15px 20px;
    }
    
    .car-input {
        width:100%;
    }

    .container-new-car {
        padding: 0;
        
    }

}