
@import url('https://fonts.googleapis.com/css?family=Numans');


.image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
  margin:auto;
  position:relative;
}

.image-upload > label i{
    display:none;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    color: #a8ec63;

  }


.image-upload > label:hover{
  opacity:0.7;

  i {
    display:inline-block;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    color: #a8ec63;

  }
}


.body-login, .body-login-update{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
position: absolute;
width:100%;
}
.card-header h3 {
    color: white;
    margin-top: 45px;
}
.container-login{
height: 100%;
align-content: center;
width: 100%;
margin-right: auto;
}

.card-container {
  padding: 10% 0;
  height: 100%;
}

.card-social {
  text-align: center
}

.card-login{
  // height: 95%;
  width: 30%;
  margin: auto;
  background-color: #5e5e5e;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 15px;
}

.card-login-update{
    background-color: #5e5e5e;
    margin-top: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 920px;
    margin-bottom: auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 40%;
    word-wrap: break-word;
    }

.card-login-forget-pw {
    height: 300px;
    margin-top: 250px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}


.card-body-devise {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #A8EC63;
}

.social_icon_setting span{
    font-size: 60px;
    margin-left: 10px;
    color: #A8EC63;
    }
.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
  text-align:center;
color: white;
}

// .social_icon{

// right: 20px;
// top: -45px;
// }

.social_icon_setting{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #A8EC63;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
align-items: center;
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

input[type="submit"].login_btn{
color: black;
background-color: #A8EC63;
//width: 100px;
font-weight: 400;
text-align: center;
white-space: nowrap;
float: right;
user-select: none;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1.5rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
-webkit-appearance: button;
}

input[type="submit"].login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.input-group-login{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-bottom: 1rem;
}

.input-group-prepend {
    margin-left: 5px;
    display: flex;
}

.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    border-radius: .25rem;
}

input[type="email"].form-control-login, input[type="password"].form-control-login ,input[type="text"].form-control-login ,input[type="tel"].form-control-login {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    display: block;
    height: 50px;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.card-footer{
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

.text-info{
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a.text-info:hover{
    color: #007bff;
}

.field_with_errors {
    display: flex;
    //width: 1%;
    flex: 1 1 auto;
    border: solid red 2px;
    border-radius: 2px;
}

#error_explanation {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 20px;
    position: absolute;
}

.avatar_file {
    color:white;
    margin-left: 5px;
}

.avatar_update {
    border-radius: 50%;
    margin:auto;
    margin-bottom:20px;
    margin-top:20px;
}

.forget_pw {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 640px) {

    .card-login{
        
        margin-top: 50px;
        margin-bottom: auto;
        width:90%;
        }

        .card-login-registration{
            height: 520px;
            margin-top: 50px;
            margin-bottom: auto;
            }

        .card-login-update{
            height: 830px;
            margin-top: 50px;
            margin-bottom: auto;
            }

        .card-login-forget-pw {
            height: 300px;
            margin-top: 50px;
            margin-bottom: auto;
        }

        #error_explanation {
            display:none;
        }

        .card-header h3 {
            color: white;
            margin-left: 12px;
            margin-top: 45px;
            font-size:24px;
        }

        .body-login{
            //background-image: url(logincar.jpg);
            //background-size: cover;
            //background-repeat: no-repeat;
            height: 600px;
            font-family: 'Numans', sans-serif;
            position: absolute;
            width:100%;
            }

            .body-login-update{
                //background-image: url(logincar.jpg);
                //background-size: cover;
                //background-repeat: no-repeat;
                height: 900px;
                font-family: 'Numans', sans-serif;
                position: absolute;
                width:100%;
                }
}
