@media only screen and (min-width:1570px){
  .profiler-results.profiler-top.profiler-left {
    display:none;
  }
.mobile-date-form {
    display:inline-block;
  }

.ap-suggestion {
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  padding-left: 18px;
  overflow: hidden;
  text-align: left;
}


.categorie {
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    width: 50%;
    text-align: center;
    margin-left: 25%;
    background-size: 100% 75%;
    background-position: top;
    background-color: white;
    color: white;
    position: relative;
    background-repeat: no-repeat;
  }


.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 1px;
}

.pac-item {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.background-searchbar {
  background-color: #5e5e5e;
  border-radius: 15px;
  max-width: 1250px;
  padding: 5 0;
  height:70px;
  margin: auto;
}


.search_date input  {
  display: inline-block;
  border: 2px solid #ddd;
  line-height: 1.25em;
  padding: .5em;
  transition: border-color .2s ease;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.0625) inset;
  color: #777;
  width:150px;
}



.search_date input:hover {
  border-color: #A8EC63;
}


.search_distance .form-control {
  height: 46px;
  line-height: 1.25em;
  font-size: 18px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.search_distance .form-control:hover {
  border-color: #A8EC63;
}


.search_time input  {
  display: inline-block;
  border: 2px solid #ddd;
  line-height: 1.25em;
  padding: .5em;
  transition: border-color .2s ease;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.0625) inset;
  color: #777;
  width:100px;
}



.search_time input:hover {
  border-color: #A8EC63;
}


// .search_time .form-control{
//   height: 46px;
//   line-height: 1.25em;
//   font-size: 18px;
//   line-height: 1.428571429;
//   color: #000000;
//   background-color: #fff;
//   background-image: none;
//   border: 2px solid #ccc;
//   border-radius: 4px;
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
// }

// .search_time .form-control:hover {
//   border-color: #A8EC63;
// }

// .search_address {
//   width: 400px;
//  }

.search_address {
  width: 35%;
}

.search_address .ap-input:hover {
  border-color: #A8EC63;
}

// for search bar react js
.search_address input {
  height: 46px;
  line-height: 1.25em;
  font-size: 18px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.search_address input:hover {
  border-color: #A8EC63;
}

.search_submit {
  font-size: 1.25em;
  width: auto;
  padding: .30em 3em;
  background: #A8EC63;
  color: #827b7a;
  text-align: center;
  border-radius: 4px;
  transition: background-color .2s ease;
  cursor: pointer;
}



.alert-dismissable .close, .alert-dismissible .close {
  line-height: 0;
}
// Specific CSS for your home-page
h1 h2 h3 {
    display: inline-block;
    // text-align: center;
  }


  a {
    color: white;
  }


  p a {
    color: blue;
  }


  #header {
      // background-image: url(banner.jpg);
      background: url(banner.jpg) no-repeat center;
      background-size: cover;
      height: 800px;
      width: 100%;
      background-position: center;
      padding: 60px 100px;
  }

  h1 {
      color: white;
      font-family: Arial;
      text-align: center;
      font-weight: bold;
  }


  a#download {
      display: block;
      text-align: center;
      width: 150px;
      margin: 0px auto;
      padding: 20px;
      color: white;
      text-transform: uppercase;
      font-family: Arial;
      border: 1px solid #fff;
      text-decoration: none;
      border-radius: 10px;
  }

  .footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }



.masthead-heading {
    color: white;
    font-size: 80px;
    text-shadow: 2px 2px 10px #000000;
}

label.boolean.control-label.checkbox.toggle-button {
  padding-left: 0;
}

.service-card {
  height:162px;
}


}


@media (max-width:1570px) and (min-width:770px){

.profiler-results.profiler-top.profiler-left {
  display:none;
}
.mobile-date-form {
    display:inline-block;
  }

.ap-suggestion {
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  padding-left: 18px;
  overflow: hidden;
  text-align: left;
}


.categorie {
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    width: 50%;
    text-align: center;
    margin-left: 25%;
    background-size: 100% 75%;
    background-position: top;
    background-color: white;
    color: white;
    position: relative;
    background-repeat: no-repeat;
  }


.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 1px;
}

.pac-item {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.background-searchbar {
  background-color: #5e5e5e;
  border-radius: 15px;
  max-width: 1250px;
  padding: 5 0;
  height: 70px;
  margin: auto;
}


.search_date input  {
  display: inline-block;
  border: 2px solid #ddd;
  line-height: 1.25em;
  padding: .5em;
  transition: border-color .2s ease;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.0625) inset;
  color: #777;
  width:150px;
}



.search_date input:hover {
  border-color: #A8EC63;
}


.search_distance .form-control {
  height: 46px;
  line-height: 1.25em;
  font-size: 18px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.search_distance .form-control:hover {
  border-color: #A8EC63;
}


.search_time input  {
  display: inline-block;
  border: 2px solid #ddd;
  line-height: 1.25em;
  padding: .5em;
  transition: border-color .2s ease;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.0625) inset;
  color: #777;
  width:100px;
}



.search_time input:hover {
  border-color: #A8EC63;
}


// .search_address {
//   width: 400px;
//  }

.search_address {
  width: 30%;
}

.search_address .ap-input:hover {
  border-color: #A8EC63;
}

// for search bar react js
.search_address input {
  height: 46px;
  line-height: 1.25em;
  font-size: 18px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.search_address input:hover {
  border-color: #A8EC63;
}

.search_submit {
  font-size: 1.25em;
  display: inline-block;
  width: auto;
  padding: .30em 3em;
  background: #A8EC63;
  border: none;
  color: #827b7a;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color .2s ease;
  cursor: pointer;
}



.alert-dismissable .close, .alert-dismissible .close {
  line-height: 0;
}
// Specific CSS for your home-page
h1 h2 h3 {
    display: inline-block;
    // text-align: center;
  }


  a {
    color: white;
  }


  p a {
    color: blue;
  }


  #header {
      // background-image: url(banner.jpg);
      background: url(banner.jpg) no-repeat center;
      background-size: cover;
      height: 800px;
      width: 100%;
      background-position: center;
      padding: 60px 100px;
  }

  h1 {
      color: white;
      font-family: Arial;
      text-align: center;
      font-weight: bold;
  }


  a#download {
      display: block;
      text-align: center;
      width: 150px;
      margin: 0px auto;
      padding: 20px;
      color: white;
      text-transform: uppercase;
      font-family: Arial;
      border: 1px solid #fff;
      text-decoration: none;
      border-radius: 10px;
  }

  .footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }



.masthead-heading {
    color: white;
    font-size: 80px;
    text-shadow: 2px 2px 10px #000000;
}

label.boolean.control-label.checkbox.toggle-button {
  padding-left: 0;
}

.service-card {
  height:162px;
}


}


@media (max-width:1370px) and (min-width:770px){

.background-searchbar {
  background-color: #5e5e5e;
  border-radius: 15px;
  max-width: 1250px;
  padding: 2px;
  height: 70px;
  margin: auto;

}

.mobile-date-form {
    display:inline-block;
  }


}


@media (max-width:1345px) and (min-width:770px){

.mobile-date-form {
    display:inline-block;
  }

.background-searchbar {
  background-color: #5e5e5e;
  border-radius: 15px;
  max-width: 1000px;
  padding: 10px;
  height: 120px;
  margin: auto;
}

.masthead-heading {
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 10px #000000;
}


}


// MOBILE CSS EVAN C COM CA QU"ON FAIT !!!! MOBILE FIRST
//. ON NE CREER PAS UN NOUVEAU CSS AVEC NOUVO NAME POUR LE MOBILE



@media only screen and (max-width: 770px){
.form-row {
  width: 75%;
}

  .mobile-date-form {
    display:flex;
  }


.profiler-results.profiler-top.profiler-left {
  display:none;
}

.ap-suggestion {
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  padding-left: 18px;
  overflow: hidden;
  text-align: left;
}

.categorie {
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    width: 30%;
    margin-left: 37%;
    background-position: top;
    background-color: white;
    color: white;
    position: relative;
    background-repeat: no-repeat;
  }



.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 1px;
}

.pac-item {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.background-searchbar {
  max-width: 100%;
  height: 60%;
  padding: 2px 0;
  background-color: #5e5e5e;
  border-radius: 15px;
  display:flex;
  align-items: center;
  justify-content: center;
}

// .search_address  {
//   margin-top: 20px;

// }

.search_address {
  margin-top: 15%;
}

.search_address .ap-input:hover {
  border-color: #A8EC63;
}

// for search bar react js
.search_address input {
  height: 46px;
  line-height: 1.25em;
  font-size: 18px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.search_address input:hover {
  border-color: #A8EC63;
}


.search_date {
  width: 70%;
  float: left;

}

.search_date input  {
  display: inline-block;
  border: 1px solid #ddd;
  line-height: 1.25em;
  padding: .5em;
  transition: border-color .2s ease;
  border-radius: 4px 0px 0px 4px;
  background: white;
  height:46px;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.0625) inset;
  color: #777;
  width:100%;
  //float: left;
}


.search_date input:hover {
  border-color: #A8EC63;
}

.search_distance .form-control {
  height: 46px;
  line-height: 1.25em;
  font-size: 18px;
  line-height: 1.428571429;
  color: #5e5e5e;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.search_distance .form-control:hover {
  border-color: #A8EC63;
}

.search_time {
  width:30%;
}


.search_time input  {
  display: inline-block;
  border: 2px solid #ddd;
  line-height: 1.25em;
  padding: .5em;
  transition: border-color .2s ease;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.0625) inset;
  color: #777;
}



.search_time input:hover {
  border-color: #A8EC63;
}



.search_submit {
  font-size: 1.25em;
  display: inline-block;
  width: auto;
  padding: .30em 3em;
  background: #A8EC63;
  border: none;
  color: #827b7a;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color .2s ease;
  cursor: pointer;
}



.alert-dismissable .close, .alert-dismissible .close {
  line-height: 0;
}
// Specific CSS for your home-page
h1 h2 h3 {
    display: inline-block;
    // text-align: center;
  }


  a {
    color: white;
  }


  p a {
    color: blue;
  }


  #header {
      // background-image: url(banner.jpg);
      background: url(banner.jpg) no-repeat center;
      background-size: cover;
      height: 600px;
      width: 100%;
      background-position: center;
      padding: 5px 5px;
  }

  h1 {
      color: white;
      font-family: Arial;
      text-align: center;
      font-weight: bold;
  }


  a#download {
      display: block;
      text-align: center;
      width: 150px;
      margin: 0px auto;
      padding: 20px;
      color: white;
      text-transform: uppercase;
      font-family: Arial;
      border: 1px solid #fff;
      text-decoration: none;
      border-radius: 10px;
  }

  .footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }



.masthead-heading {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 10px #000000;
    margin-top: 8px;
}
.search_address {
  width: 100%;
 }



}

@media only screen and (max-width: 500px){
  .categorie {
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    width: 150px;
    margin-left: 20%;
    background-size: 100% 75%;
    background-position: top;
    background-color: white;
    color: white;
    position: relative;
    background-repeat: no-repeat;
  }

  .mobile-date-form {
    display:flex;
  }


}
