.card-body-license {
    color: white;
    margin-top:50px;
    display: flex;
    flex-direction: column;
}

.license-text {
    text-align: center;
}

.btn-mifleet-app {
    background-color: #A8EC63;
    padding: 10px;
    border-radius: 5px;
    color: black;
    margin: auto;
}