$brand-primary: green;
$white: #fff;
$grey-light: #ededed;
%remain-steps{
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
  }
  &:after{
    background-color: $grey-light;
  }
}
.multi-steps{
  display: table;
  table-layout: fixed;
  width: 100%;
  > li{
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $brand-primary;

    &:before{
      content: '\f00c';
      content: '\2713;';
      content: '\10003';
      content: '\10004';
      content: '\2713';
      display: block;
      margin: 0 auto 4px;
      background-color: $white;
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      border: 2px solid;
      border-radius:50%;
      border-color:$brand-primary

    }
    &:after{
      content: '';
      height: 2px;
      width: 100%;
      background-color: $brand-primary;
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: -1;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }

    &.is-active{
      @extend %remain-steps;
      &:before{
        background-color: $white;
        border-color: $brand-primary;
      }

      ~ li{
        color: #808080;
        @extend %remain-steps;
        &:before{
          background-color: $grey-light;
          border-color: $grey-light;
        }
      }
    }
  }
}

input.btn-traccar-command-rental-step {
  margin: 0px;
  padding: 0 20px;
  width: 300px;
  height: 50px;
  background-color: #5E5E5E;
  border-radius: 25px;
  font-family: Montserrat-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  transition: all .4s;
  border: none;
}

.container-fluid {
  margin-top:10px;
}

.upload-preview {
width: 250px;
height: 150px;
position: relative;
display: flex;
flex-wrap: wrap;
align-items: stretch;
}

.upload-preview img{
    flex-direction: row;
    display: flex;
    width: 250px;
    height: 150px;

}

.preview-img{
    flex-direction: row;
    display: flex;


}

.upload-preview > label {
cursor: pointer;
margin: auto;
position: relative;

}

.upload-preview > label i {
    display: none;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
}

.upload-preview > label:hover i {
    display: inline-block;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    color: #a8ec63;
}




.upload-preview > label:hover {

    opacity: 0.7;

}



.upload-preview  > input, .photos > input {

    display: none;

}

.photos {
  width: 100px;
margin: auto;

}


.selected-file {
    background: #ddeeff;
    width:250px;
    height:150px;
  }
  
  .selected-file input[type='file'] {
    display: none;
  }
  

  .upload-card {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    width: 1070px;
  }

  input[type="submit"].next-step-location {
      background:green;
      color:white;
      font-weight: bold;
      width: 150px;
    height: 35px;
    font-size: 15px;
  }

  input[type="submit"].next-step-location:hover {
      opacity: 0.7;
  }

  .step-b-card , .step-d-card, .step-e-card{
      text-align: center;
      display:flex;
  }

  .step-e-card  {
    flex-direction: column;
  }

  .step-b-form {
    margin:auto;
}

.input-img  {
  width:150px;
  height:150px;
  cursor:pointer;
}

.input-img:hover {
  opacity:0.7;
}

.step-e-box {
  margin:auto;
  margin-bottom:20px;
}

.date-step {
  display: flex;
}

.arrow-step {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3px;
}

.car-info-box, .car-image-out {
  border:1px solid grey;
  width: 700px;
}



.image-box-car {
  width:80px;
  height:50px;
  margin-left: 1px;
  margin-right: 1px;

}

.title-step-b {
  text-align: center;
}

.upload-preview .car_step {
  position:absolute;
  width: 90%;
  margin-left: 5%;
  opacity: 0.5;
}

@media only screen and (max-width: 770px){

  .car-info-box , .car-image-out{
    border:1px solid grey;
    width:90%;
  }

  .step-e-box {
    margin:auto;
    margin-bottom:15px;
  }

  .image-box-car {
    width:20%;
    margin-left: 3px;
    margin-right: 3px;
    margin-top:6px;
    margin-bottom:6px;
  }

  .upload-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.upload-preview img {
  flex-direction: row;
  display: flex;
  width: 150px;
  height: 110px;
}

.upload-preview {
  width: 100%;
  height:110px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.selected-file {
  background: #ddeeff;
  width: 150px;
  height: 110px;
}
}