.sidebar_container {
    width:150px;
    float: left;
    .ullist a {
    display: inline-block;
    background: #FF5050;
    width: 70%;
    color: #fff;
    padding:10px;
  }
  }
  .avatar-large {
    width: 50px;
    border-radius: 50%;
  }
  .avatar-bordered {
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
  .avatar-square {
    width: 30px;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
  
  .message {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(220,224,244,0.4);
  }


  .message:last-child {
    border-bottom: none;
  }
  .message-body {
    flex-grow: 1;
  }
  .message-name {
    padding-left: 10px;
    min-width: 100px;
  }
  .message-name h3 {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .message-name p {
    font-size: 13px;
    font-weight: lighter;
    opacity: 0.6;
    margin-top: 5px;
  }
  .message-body {
    padding-left: 10px;
    font-size: 13px;
    color: rgba(0,0,0,0.7);
  }
  .message-body {
    padding-left: 20px;
    color: rgba(0,0,0,0.4);
  }
  .message-body strong{
    color: rgba(0,0,0,0.9);
    color: rgba(0,0,0,0.9);
  }
  .message-body p {
    margin: 6px 0;
  }
  .message-status {
    font-size: 14px;
    font-weight: bold;
  }
  .status.accepted {
    color: #04A366;
  }
  .status.declined {
    color: red;
  }
  .status.pending {
    color: lightgrey;
  }

  .btn-rental {
    
    text-align:center;
    div {
    margin-right:50px;
    margin-left:50px;
    margin-top:30px;
    margin-bottom: 30px ;
    display:inline-block;
    cursor: pointer;
    }
  }

  #commandes {
    background-color: grey;
    color:white;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    padding-top: 10px;
}

  #locateur {
    background-color: rgba(172, 163, 163, 0.678);
    color:white;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    padding-top: 10px;
}

.btn-rental div:hover {
    opacity: 0.5;
  }
  

  #mes-commandes {
      display:block;
  }

  #mes-locations {
    display:none;
}


.form-rental-div {
  margin:auto;
  width:800px;
  padding:10px;
  border-radius:5px;
  border: 1px solid;
}

.datepick {
  width:500px;
}

.button, input[type="submit"],input[type="button"] .button-rent {
  margin: 20px .25em 10px 0;
}

.opacity-btn-rent {
  opacity:0.2;
}

.invalid-date-message {
  color:red;
  display:none;
}

.invalid-date-message .show {
  display: block;
}

 #rental_distance {
  width: 150px;
  display:block;
}

.rent_date {
   display: flex;
}

#rent-date-starting {
  width: 200px;display: block;
  height: 39px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

}

 #rent_start_time {
   width:100px;
 }

 #rent-date-ending {
  width: 200px;
  display: block;
  height: 39px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

 #rent_end_time {
   width:100px;
 }

 .spacing-div {
   width: 30px;;

 }
 .rental_price {
  grid-column: 3;
  font-size: 30px;
  color: grey;
  margin-right: auto;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
  margin-right: 10px;

}

 .rentals_card {
  background-color:#F4F4F4;
  opacity: 1;
  display:grid;
  grid-template-columns: 15% 70% 15%;
  cursor: pointer;
  width:700px;
  height: 100px;
  margin:auto;
}

 
.image-size-rentals                                                                {
  height:80px;
  width:90px;
  top:10px;
  border-radius: 50%;
  position:relative;
  grid-column: 1;
  margin-left: 3%;
}

.image-size-show-rentals                                                                {
  height:80px;
  width:90px;
  top:10px;
  border-radius: 50%;
  position:relative;
  grid-column: 1;
  margin-left: 20%;
}

.rentals_description {
  height: 100px;
  position: relative;
  grid-column: 2;
  color: black;
}

.rentals_description h2 {
  font-size: 18px;
  margin:0px;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);

}
.rentals_description p {
  font-size: 14px;
  opacity: 1;
  font-weight: lighter;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color:grey;
}

.rentals_show_description h2 {
  font-size: 18px;
  margin:0px;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);

}
.rentals_show_description p {
  font-size: 14px;
  opacity: 1;
  font-weight: lighter;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color:grey;
}


.display_filter_rental {
  width:50%;
  margin:auto;
  font-size:16px; 
  padding-bottom: 20px;
}

.status_search {
  display: flex;
  justify-content: center;
  width:410px;
  height: 30px;
  margin:auto;
  background-color: #d5d3d3;
  border-radius: 8px;
}

.status_choice {
  cursor:pointer;
  width:130px;
  text-align:center;
  margin:auto;
  height:26px;
}

.status_choice:hover {
  background-color: #ece8e8;
  border-radius:5px;
}

.status_text {
  margin-top:3px;  
}

::-webkit-input-placeholder {
  text-transform: initial;
}

:-moz-placeholder { 
  text-transform: initial;
}

::-moz-placeholder {  
  text-transform: initial;
}

:-ms-input-placeholder { 
  text-transform: initial;
}

.proprio-toggle-app {
  margin: 5px 0px 5px 45%;
  > .row {
    margin-top: 2rem;
    height: 5rem;
    vertical-align: middle;
    text-align: center;
    border: 1px solid fade($gray-lighter,50%);
    &:first-of-type {
      border:none;
      height: auto;
      text-align: left;
    }
  }
  h3 {
    font-weight: 400;
    > small {
      font-weight: 200;
      font-size: .75em;
      color: $gray-light;
    }
  }
  h6 {
    font-weight: 700;
    font-size: .65rem;
    letter-spacing: 3.32px;
    text-transform: uppercase;
    color: $gray-lighter;
    margin: 0;
    line-height:5rem;
  }
  .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
    color: #6b7381;
    background: #bdc1c8;
  }
}



// Mixin for Switch Colors
// Variables: $color, $bg, $active-bg
.proprio-toggle-app .toggle-color  {
  color: $btn-default-color;
  background: $btn-default-bg;
  &:before,
  &:after {
    color: $btn-default-color;
  }
  &.active {
    background-color: $brand-primary;
  }
}

.title_my_rents {
  text-align: center;
}

.titre_rental {
  text-align: center;
  font-weight: bold;
}

.line_rental {
  border-bottom:1px solid grey;
  opacity: 0.5;
  position: relative;
  width: 100%;
}

.date_rental {
  font-size:16px;
}

.rentals_show_card {
  background-color: white;
  opacity: 1;
  display: grid;
  grid-template-columns: 150px 300px;
  cursor: pointer;
  width: 100%;
  height: 100px;
  margin: auto;
}

.rentals_show_description {
height: 100px;
position: relative;
grid-column: 2;
color: black;
margin-top:30px;
}

.rentals_arrow {
  display:none;
}

.box-rental {
  background-color:white;
  height:35px;
  display:flex;
}

.box-rental p{
  padding-top:7px;
  margin-left:3%;
  font-size:14px;
  flex:auto;
}
.second_titre_rental {
  margin-bottom:5px;
  margin-left:3%;
  padding-top:8px;
}

.line_rental_bis {
  border-bottom:1px solid grey;
  opacity: 0.5;
  position: relative;
  width: 97%;
  left:3%;
}

.rentals_arrow_bis {
  margin-right:3%;
  color:grey;
}

.card-link-rental{
  position:absolute;
  width:100%;
  height:35px;
}

.button_to .delete_rental {
  width: 100%;
  height: 35px;
  opacity: 0;
  cursor: pointer;
  margin:0px;
}

.arrow_date {
  margin: auto;
  margin-top: 7px;
}

.date_show_rental {
  text-align:center;
}
 
.box_show_rental {
  width:60%;
  border: 1px solid;
  border-radius: 2px;
  margin:auto;
  position:relative;
}

.payment_status_true {
  font-size: 14px;
  text-shadow: none;
  font-weight: bold;
  border: 2px solid;
  border-radius: 3px;
  padding: 2px;
  color: green;
  text-align: center;
}


.payment_status_false {
  font-size: 14px;
  text-shadow: none;
  font-weight: bold;
  border: 2px solid;
  border-radius: 3px;
  padding: 2px;
  color: red;
  text-align: center;
}


form.button_to {
  margin:auto;
  font-size:12px;
  width:100%;
  text-align: center;
}

input[type="submit"].start_location {
  margin:0;
  width:90%;
  font-weight:bold;
  background-color:green;
}

input[type="submit"].end_location {
  margin:0;
  width:90%;
  font-weight:bold;
  background-color:red;
}

input[type="submit"].payement_location {
  margin:0;
  width:90%;
  font-weight:bold;
  background-color:rgb(21, 107, 177);
}




@media (max-width: 700px) { 
  .form-rental-div {
    margin:auto;
    width:95%;
    padding:10px;
    border-radius:5px;
    border: 1px solid;
  }

  .message {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(220,224,244,0.4);
    flex-direction: column;
  }
  .rent_date {
    display:block;
 }

  .invalid-date-message-mobile {
    color:red;
    display:none;
  }

  .invalid-date-message-mobile .show {
    display: block;
  }
 
  .display_filter_rental {
    width:100%;
    margin:auto;
    font-size:16px; 
  }


 .rentals_card {
  background-color:#F4F4F4;
  opacity: 1;
  display:grid;
  grid-template-columns: 25% 55% 20%;
  cursor: pointer;
  width:100%;
  height: 100px;
  margin:auto;
  }
  .rental_price {
    grid-column: 3;
    font-size: 20px;
    color: grey;
    margin-right: auto;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
  }

  .status_search {
    display: flex;
    justify-content: center;
    width:100%;
    height: 30px;
    margin:auto;
    background-color: #d5d3d3;
    border-radius: 8px;
  }
  
  .status_choice {
    cursor:pointer;
    width:32%;
    text-align:center;
    margin:auto;
    height:26px;
  }
  
  .status_choice:hover {
    background-color: #ece8e8;
    border-radius:5px;
  }
  
  .status_text {
    margin-top:3px;  
  }

  .titre_rental {
    text-align: center;
    font-weight: bold;
  }

  .line_rental {
    border-bottom:1px solid grey;
    opacity: 0.5;
    position: relative;
    width: 100%;
  }
  
  .date_rental {
    font-size:16px;
  }

  .rentals_show_card {
    background-color: white;
    opacity: 1;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    cursor: pointer;
    width: 100%;
    height: 100px;
    margin: auto;
  }

.rentals_show_description {
  height: 100px;
  position: relative;
  grid-column: 2;
  color: black;
  margin-top:30px;
  }

  .rentals_arrow {
    grid-column: 3;
    margin:auto;
    color:grey;
    margin-top: 35px;
  }

  .box-rental {
    background-color:white;
    height:35px;
    display:flex;
  }

  .box-rental p{
    padding-top:7px;
    margin-left:3%;
    font-size:14px;
    flex:auto;
  }
  .second_titre_rental {
    margin-bottom:5px;
    margin-left:3%;
    padding-top:8px;
  }

  .line_rental_bis {
    border-bottom:1px solid grey;
    opacity: 0.5;
    position: relative;
    width: 97%;
    left:3%;
  }
  
  .rentals_arrow_bis {
    margin-right:3%;
    color:grey;
  }

  .card-link-rental{
    position:absolute;
    width:100%;
    height:35px;
  }

  .button_to .delete_rental {
    width: 100%;
    height: 35px;
    opacity: 0;
    cursor: pointer;
    margin:0px;
  }

  .arrow_date {
    margin: auto;
    margin-top: 7px;
  }

  .date_show_rental {
    text-align:center;
  }
   
  .proprio-toggle-app {
    right:5px;
    margin: -3px 0px 0px 65%;
    position: absolute;
  }
  
  .title_my_rents {
    display:block;
    text-align: start;
    margin-left:15px;
  }

  .box_show_rental {
    width:100%;
    border:none;

  }

  .image-size-rentals                                                                {
    height:80px;
    width:90px;
    top:10px;
    border-radius: 50%;
    position:relative;
    grid-column: 1;
    margin-left: 5px;
  }

  .image-size-show-rentals                                                                {
    height:80px;
    width:90px;
    top:10px;
    border-radius: 50%;
    position:relative;
    grid-column: 1;
    margin-left: 5px;
  }
  
}
