.display-page {
    max-width: 75%;
    margin:auto;
    display:grid;
    grid-template-columns: 300px 1000px;
    position:relative;
}

.display-filter {
    background-color: #5d5e5d;
    // margin-right: 10px;
    padding: 10px;
    margin: 20px auto auto auto;
    // margin-top: 20px;
    border-radius: 10px;
}



.display-cars {
    grid-column: 2 / 4;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    gap: 50px;
    margin-top:20px;
    // display: flex;
    // justify-content: space-between;

}



.filter_search h4, .filter_search h5 {
  color: white;
}

.filter-search h5 strong {
  color: white;
}


// .places .slider {
//     margin-bottom: 600px;
//   }

//   .places .slider label {
//     color: #888;
//     font-size: 0.8rem;
//     margin-bottom: 1000px;
//     display: block;
//     text-transform: capitalize;
//   }
  .places {
    width:60%;
    margin-bottom: 30px;
  }

  .places .input-range__slider {
    background:#6EB590;
    border: none;
  }



  .places .input-range__track {
    background: #ddd;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.6rem;
    position: relative;
    transition: left 0.3s ease-out, width 0.3s ease-out;
}

  .places .input-range__track--active {
    background:#6EB590;
  }

  .places .input-range__label--value .input-range__label-container {
    background: #6EB590;
    color: white;
    font-size: 1.3rem;
    padding: 1px 8px;
    border-radius: 2px;
    top:-0.5rem;
  }

  .places .input-range__label--min .input-range__label-container,
  .places .input-range__label--max .input-range__label-container
   {
    font-size: 1.3rem;
    color: white;
    left: 0;
    top: 0.6em;
  }

  .places .input-range__label--max .input-range__label-container {
    left: 25%;
  }



  .places .input-range__label--value {
    position: absolute;
    top: -2rem;
}

.HugeList {
  outline: none;
  border: 1px solid #fafafa;
  background: #fafafa;
  font-size: 1.6rem;
  //width: 76rem;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 15;
  padding: 3%;
  margin-block-start: auto;
  min-height: 40rem;
  will-change: transform;
  border-radius: 3px;
  box-shadow: 0 10px 270px grey;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: translate3d(0, 0, 0);
}


.car_info {
  position: relative;
  margin: 0 auto;
  width: 100%;
}



.card {
  opacity: 1;
  cursor: pointer;
}
.card:hover {
  opacity: 0.5;
}



.btn-rental-search {

  text-align:center;
  display:inline-flex;
  padding-bottom:30px;
  cursor: pointer;

}

#modifier {
  background-color: grey;
  color:white;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  padding-top: 0px;
  margin-right:5px;
}

#filtrer {
  background-color: grey;
  color:white;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  padding-top: 0px;
  margin-left:5px;
}

.btn-rental-search div:hover {
  opacity: 0.5;
}

.crochet-right {
  display:none;
}

.filter-button {
  display:none;
}

.images-size {
  width:100%;
  height: 400px;
}



.carousel-pc {
  display:block;
}

.carousel-mobile {
  display:none;
}

.box-show h4, .box-show p {
  margin: 10px 10px 12.5px;
}

.button-close {
  color: black;
  background: none;
  width: 100%;
}
.image-size {
  width: 100%;
  height: 240px;
}


@media (max-width: 700px) {

  .carousel-pc {
    display:none;
  }

  .carousel-mobile {
    display:block;
  }

.display-page {
  max-width: 100%;
  margin:auto;
  grid-template-columns: auto;
  position:relative;
}

.display-filter {
    background-color: white;
    // margin-right: 10px;
    padding: 10px;
    margin: 20px auto auto auto;
    // margin-top: 20px;
    border-radius: 10px;
}

  .display-cars {
    width: 94%;
    margin:auto;
    display: grid;
    grid-template-columns: 100%;
    gap : 15px;
  }


  .filter-search {
    display: none;
    margin-left: 10px;
  }

  .filter-search h5 strong {
    color: white;
  }


  .HugeList {
    outline: none;
    border: 1px solid #fafafa;

    background: #fafafa;
    font-size: 1.6rem;
    //width: 76rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 15;
    padding: 3%;
    margin-block-start: auto;
    min-height: 40rem;
    will-change: transform;
    border-radius: 3px;
    box-shadow: 0 10px 270px grey;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: translate3d(0, 0, 0);
  }


  .car_info {
    position: relative;
    margin: 0 auto;
    width: 100%;
  }

  .show-image-size {
    height:70px;
    width:80px;
    top:5px;
    border-radius: 50%;
    position:relative;
    grid-column: 1;
  }



  .show-card {
    height: 120px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-position: top;
    color: black;
    position: relative;
    background-repeat: no-repeat;
  }


  .border-line {
    border-bottom:1px solid grey;
    opacity: 0.5;
    left: 110%;
    position: relative;
    width: 250%;
  }

  .crochet-right {
    grid-column:3;
    top: 30%;
    position: relative;
    display: block;
  }

  .filter-button {
    cursor:pointer;
    padding-left: 70%;
    display:block;
  }

  .places {
    width:40%;
  }

  .HugeListFilter {
    outline: none;
    border: 1px solid #fafafa;

    background: #fafafa;
    font-size: 1.6rem;
    //width: 76rem;
    max-width: 100%;
    display: flex;
    justify-content:start;
    flex-direction: column;
    z-index: 15;
    padding: 0% 3% 3% 3%;
    margin-block-start: auto;
    min-height: 40rem;
    will-change: transform;
    border-radius: 3px;
    box-shadow: 0 10px 270px grey;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: translate3d(0, 0, 0);
    width:100%;
    margin-top:0px;
  }


  .my-shade-mobile .css-cvbwjp {
    position:relative;
    width:120px;
  }


  .button-close {
    color: black;
    background: none;

    width: 100%;

  }

  .images-size {
    width:100%;
    height: 200px;
  }

  .card:hover {
    opacity: 1;
  }

  .places .input-range__label--min .input-range__label-container,
  .places .input-range__label--max .input-range__label-container
   {
    font-size: 1.3rem;
    color: black;
    left: 0;
    top: 0.6em;
  }



}


