// General Styles for Demo
// Colors
$brand-primary: #29b5a8;
$brand-secondary: #ff8300;
$gray_: #6b7381;
$gray-light: lighten($gray_, 15%);
$gray-lighter: lighten($gray_, 30%);;

// Button Colors
$btn-default-color: $gray_;
$btn-default-bg: $gray-lighter;

// Toggle Sizes
$toggle-default-size: 1.5rem;
$toggle-default-label-width: 4rem;
$toggle-default-font-size: .75rem;

.proprio-toggle {
    margin: 4rem auto;
    > .row {
      margin-top: 2rem;
      height: 5rem;
      vertical-align: middle;
      text-align: center;
      border: 1px solid fade($gray-lighter,50%);
      &:first-of-type {
        border:none;
        height: auto;
        text-align: left;
      }
    }
    h3 {
      font-weight: 400;
      > small {
        font-weight: 200;
        font-size: .75em;
        color: $gray-light;
      }
    }
    h6 {
      font-weight: 700;
      font-size: .65rem;
      letter-spacing: 3.32px;
      text-transform: uppercase;
      color: $gray-lighter;
      margin: 0;
      line-height:5rem;
    }
    .btn-toggle {
      top: 50%;
      transform: translateY(-50%);
      color: #6b7381;
      background: #bdc1c8;
    }
  }
  
  
  
  // Mixin for Switch Colors
  // Variables: $color, $bg, $active-bg
  .proprio-toggle .toggle-color  {
    color: $btn-default-color;
    background: $btn-default-bg;
    &:before,
    &:after {
      color: $btn-default-color;
    }
    &.active {
      background-color: $brand-primary;
    }
  }
  
  // Mixin for Default Switch Styles
  // Variables: $size, $margin, $color, $bg, $active-bg, $font-size
  .toggle-mixin {
    // color: $color;
    // background: $bg;
    margin: 0 $toggle-default-label-width;
    padding: 0;
    position: relative;
    border: none;
    height: $toggle-default-size;
    width: $toggle-default-size * 2;
    border-radius: $toggle-default-size;
    
    &:focus,
    &.focus {
      &,
      &.active {
        outline: none;
      }
    }
    
    &:before,
    &:after {
      line-height: $toggle-default-size;
      width:  $toggle-default-label-width;
      text-align: center;
      font-weight: 600;
      // color: $color;
      font-size: $toggle-default-font-size;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      transition: opacity .25s;
    }
    &:before {
      content: 'Locataire';
      left: -$toggle-default-label-width;
    }
    &:after {
      content: 'Propriétaire';
      right: -$toggle-default-label-width;
      opacity: .5;
    }
    
    > .handle {
      position: absolute;
      top: ($toggle-default-size * .25) / 2;
      left: ($toggle-default-size * .25) / 2;
      width: $toggle-default-size * .75;
      height: $toggle-default-size * .75;
      border-radius: $toggle-default-size * .75;
      background: #fff;
      transition: left .25s;
    }
    &.active {
      transition: background-color .25s;
      > .handle {
        left: $toggle-default-size  + (($toggle-default-size * .25) / 2);
        transition: left .25s;
      }
      &:before {
        opacity: .5;
      }
      &:after {
        opacity: 1;
      }
    }
    
    &.btn-sm {
      &:before,
      &:after {
        line-height: $toggle-default-size - 0.125rem;
        color: #fff;
        letter-spacing: .75px;
        left: $toggle-default-size * .275;
        width: $toggle-default-size * 1.55;
      }
      &:before {
        text-align: right;
      }
      &:after {
        text-align: left;
        opacity: 0;
      }
      &.active {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
    }
    
    &.btn-xs {
      &:before,
      &:after {
        display: none;
      }
    }
  }
  
  
  
  // // Apply Mixin to different sizes & colors
  // .btn-toggle {
    
  //   .toggle-mixin;
  //   .toggle-color;
    
  //   &.btn-lg {
  //     .toggle-mixin($size: 2.5rem; $font-size: 1rem; $margin: 5rem;);
  //   }
    
  //   &.btn-sm {
  //     .toggle-mixin($font-size: .55rem; $margin: .5rem;);
  //   }
    
  //   &.btn-xs {
  //     .toggle-mixin($size:1rem;$margin:0;)
  //   }
    
  //   &.btn-secondary {
  //     .toggle-color($active-bg:$brand-secondary);
  //   }
  // }
  
  // .proprio-toggle .btn-toggle .btn-lg  {
    
  //     .toggle-mixin {
  //         $size: 2.5rem;
  //         $font-size: 1rem; 
  //         $margin: 5rem;
  //     }
  
  //     .toggle-color {
  //         $active-bg:$brand-secondary;
  //     }
      
    
  //   }
  
  .btn-toggle.btn-lg {
      margin: 0 2rem;
      margin-bottom: -2rem;
      position: relative;
      border: none;
      height: 2.5rem;
      width: 12rem;
      border-radius: 2.5rem;
  }
  
  .btn-toggle.active {
      background-color: #29b5a8;
  }
  
  .btn-toggle.btn-lg > .handle {
      position: absolute;
      top: 0.3125rem;
      left: 0.3125rem;
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 1.875rem;
      background: #fff;
      transition: left 0.25s;
  }
  
  .btn-toggle.btn-lg.active > .handle {
      left: 9.75rem;
      transition: left 0.25s;
  }
  
  .btn-toggle.btn-lg::before {
      content: 'Locataire';
      left: -0.5rem;
  }
  
  .btn-toggle.btn-lg::after {
      content: 'Propriétaire';
      right: -0.5rem;
      opacity: 0.5;
  }
  
  .btn-toggle.btn-lg::before, .btn-toggle.btn-lg::after {
      line-height: 1.5rem;
      width: 0.5rem;
      text-align: center;
      font-weight: 600;
      font-size: 0.55rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      transition: opacity 0.25s;
  }
  
  .btn-toggle.btn-lg.btn-lg::before {
      color: #fff;
      letter-spacing: 0.75px;
      left: 3.7rem;
      width: 2.325rem;
      top: 0.55rem;
      font-size: 1rem;
  }
  
  .btn-toggle.btn-lg.btn-lg::after {
  
      color: #fff;
      letter-spacing: 0.75px;
      left: 1.13rem;
      width: 2.325rem;
      top: 0.55rem;
      font-size: 1rem;
  }
  .btn-toggle.btn-lg.btn-lg::before {
      text-align: right;
  }
  
  .btn-toggle.btn-lg.btn-lg.active::before {
  
      opacity: 0;
  
  }
  
  .btn-toggle.btn-lg.btn-lg.active::after {
      opacity: 1;
  }
  .btn-toggle.btn-lg.btn-lg::after {
      text-align: left;
      opacity: 0;
  }


@media (max-width: 700px) {
  .proprio-toggle {
    margin: 1rem 0rem 1rem 0rem;
  }
}