
.list-items {
    display:flex;
    flex-direction: column;
}

.image-pp {
    height:50px;
    width:60px;
}

.item-card-pc {
    display:block;
}

.list-items {
    td,
    th {
        border: 1px solid rgb(190, 190, 190);
        padding: 10px;
    }

    td {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #eee;
    }

    th[scope="col"] {
        background-color: #696969;
        color: #fff;
    }

    th[scope="row"] {
        background-color: #d7d9f2;
    }

    caption {
        padding: 10px;
        caption-side: top;
        font-size: 16px;
        text-align: center;
        color: black;
    }

    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 12px;
        margin-right: 10px;
    }   

    a {
        color: #469AE0
    }

  

}

.page-customer {
    margin-left: 300px;
}

.title-customer {
    margin:auto;
    text-align:center;
}

.bloc-customer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;
    width:80%;
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
}

.bloc-info-customer {
    display:flex;
    flex-direction: row;
}

.text-customer {
    margin-left:20px;
}

.text-info-customer {
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1rem;
    text-transform: uppercase;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin: 0;
    padding: 0;
    width: 30%;    
    margin-left:20px;
    margin-top:30px;
    margin-bottom:30px;
}

.text-response-info-customer {
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;    
    margin-left:20px;
    margin-top:30px;
    margin-bottom:30px;
}

.line-customer {

    border-bottom: 1px solid grey;
    opacity: 0.5;
    position: relative;
    width: 100%;
    margin-left:20px;
}

.customer-car-bloc{
    display:flex;
    flex-direction: column;
    margin-right:20px;
    margin-left:20px;
}

.customer-all-cars-bloc {
    display:flex;
    flex-direction: row;
    margin-top:30px;
   margin-bottom: 30px;
   //margin-left:20px;
   flex-wrap: wrap;
}

.car-customer-image {
    height: 80px;
    width: 90px;
    border-radius: 50%;
    position: relative;


}

.plaque-car-customer {
    font-size: 12px;
    text-align:center;
}

h3.text-response-info-customer.notverified-color {
    color : grey;
}

h3.text-response-info-customer.manual-color {
    color : orange;
}

h3.text-response-info-customer.validated-color {
    color : green;
}

@media (max-width:767px) {


    .list-items {
        display:flex;
        flex-direction: column;
    }

    .image-pp {
        height:25px;
        width:30px;
    }

    .item-card-pc {
        display:block;
    }

    .list-items {
        td,
        th {
            border: 1px solid rgb(190, 190, 190);
            padding: 1px;
            font-family: sans-serif;
            font-size: 10px;
        }

        td {
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #eee;
        }

        th[scope="col"] {
            background-color: #696969;
            color: #fff;
        }

        th[scope="row"] {
            background-color: #d7d9f2;
        }

        caption {
            padding: 10px;
            caption-side: top;
            font-size: 16px;
            text-align: center;
            color: black;
        }

        table {
            border-collapse: collapse;
            border: 2px solid rgb(200, 200, 200);
            letter-spacing: 1px;
            font-family: sans-serif;
            font-size: 10px;
            margin-right: 10px;
        }   

        a {
            color: #469AE0
        }

    }


}

