.admin-menu {
    float:left;
    width:285px;
	background-color: #464242;
	min-height: 100vh;
    
}

.page-menu {
    margin-left: 300px;
}

.page-menu {
    padding-top: 5px;
}

a.nav-link.nav-dash {
    display:flex;

    h5 {  
        color:green;
     }
    
}

.fa-dash {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    margin-right: 15px;
    width: 30px;
}

@media (max-width:767px) {
    .dropdown-content-mobile {
        display: none;
      }
      
    .dropdown-content-mobile li:hover {background-color: #767D5A}

    .show {display:block;}

    .dropdown-content-mobile {
        top: auto;
        width: 200px;
        background-color: #5E5E5E;
    }

    .page-menu {
        margin-left: 0px;
        position:absolute;
    }

    .dashboard {
        margin-left:5px;
    }

    .menu-dashboard {
        display:block;
    }

    .dropdown-toggle-mob {
        color: #1f74ba;
    }

    a.nav-link {
        color:white;
        
    }

    .dropdown-item {
        color:white;
        margin-left:20px;
    }


}


