.traccar-connect {
    background-color: green;
    color: white;
}

#menu-traccar-connected-container {
    margin-top:50px;
}

input.btn-traccar-command {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 300px;
    height: 50px;
    background-color: #5E5E5E;
    border-radius: 25px;
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    transition: all .4s;
    border: none;
}

.div-btn-command-traccar {
    margin-top:20px;
}

h4.btn-add-device a {
    color:#469AE0;
}