img.verif_cni_image {
    width:500px;
    height:300px;
}

td.item-info p {
    margin: 0 0 0px;
}

input.btn-verif.btn-success
{
    color: #fff;
    background-color: #32B796;
    border-color: #2da386;
}

input.btn-verif.btn-danger {
    color: #fff;
    background-color: #EE5F5B;
    border-color: #ec4844;
}

.item-info.validated {
    background-color:green;
    color:white;
}

.item-info.rejected {
    background-color:#ec4844;
    color:white;
}