<div class="container-fluid">
  <ul class="list-unstyled multi-steps">
    <li class="is-active">Etape 1</li>
    <li>Etape 2</li>
    <li>Etape 3</li>
    <li>Etape 4</li>
    <li>Terminer</li>
  </ul>
</div>

 <div class="box-show">
    <div id="map" class="map-style">
    </div> 
</div>

<%= button_to "Etape suivante", stepB_path(@rental),method: "get",class:"next-step-location" %>

<script src='//cdn.jsdelivr.net/gmaps4rails/2.1.2/gmaps4rails.js'> </script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script> 
<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'> </script>
<script src="//maps.google.com/maps/api/js?key=AIzaSyDEHC931ZRGi3Ihtl8rrA-WV3HM5jL8HQc&callback=initMap"></script>  

<script type="text/javascript">  
function initMap() {
handler = Gmaps.build('Google');  
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);  
        // to center on a marker
        handler.map.centerOn(markers[0]); 
        // to set the map zoom
        handler.getMap().setZoom(16);

    }); 
} 

google.maps.event.addDomListener(window, 'load', function() {
  initMap();
});

$(document).bind("projectLoadComplete", initMap());
</script>