<div class="container-fluid">
  <ul class="list-unstyled multi-steps">
    <li>Etape 1</li>
    <li>Etape 2</li>
    <li class="is-active">Etape 3</li>
    <li>Etape 4</li>
    <li>Terminer</li>
  </ul>
</div>

<%= button_to "Ouvrir la voiture",  {:controller => "rentals_step", :action => "create_open_traccar", :id => @rental.id}, :method => "post",class:"btn-traccar-command-rental-step" %>


<%= button_to "Etape suivante", stepD_path(@rental),method: "get",class:"next-step-location" %>
