  <div class="upload-preview">
        <label for="file-rental">
            <img />
            <i class="fas fa-pen fa-2x"></i>
        </label>
        <%= f.file_field :img_car_inside, id:"file-rental", class: "file-rental" %> 
    </div>



    <div data-controller="multi-upload" class="upload-preview">
        <div data-multi-upload-target="files" class="preview-img"></div>
        <div class="photos">
            <%= f.file_field :img_car_inside, id:"file-rental", :multiple => false, :data => {:action => "multi-upload#addFile"} %>
        </div>

        
    </div>

    image base 64 
load { target: FileReader, isTrusted: true, lengthComputable: true, loaded: 7799, total: 7799, srcElement: FileReader, currentTarget: FileReader, eventPhase: 2, bubbles: false, cancelable: false, … }


  <div data-controller="multi-upload" class="upload-preview">
        <div data-multi-upload-target="files" class="preview-img"></div>
        <div class="photos">
            <%= f.file_field :img_car_inside, id:"file-rental", :multiple => true, :data => {:action => "multi-upload#addFile"} %>
        </div>

        
    </div>



    addFile(event) {
    console.log("event",event)
    // Grab some references for later
    const originalInput = event.target
    const originalParent = originalInput.parentNode

    console.log("original", originalInput.files[0])
  
    // Create an element that contains our input element
    const selectedFile = document.createElement("img")
    selectedFile.className = "selected-file" 
    selectedFile.append(originalInput)
  
    // Create label (the visible part of the new input element) with the name of
    // the selected file.
    var labelNode = document.createElement("label");
    var textElement = document.createTextNode(originalInput.files[0].name);
    //labelNode.appendChild(textElement);
    //selectedFile.appendChild(labelNode);

 



    
    // Add the selected file to the list of selected files
    this.filesTarget.append(selectedFile)

    var preview = $(".selected-file:last");

    console.log("preview",preview)

    var file = originalInput.files[0];
    var reader = new FileReader();
    reader.onload = function(e){
        console.log("event",e.target.result)
        //image_base64 = event.target.result;
        preview.attr("src", e.target.result);
        
    };
    reader.readAsDataURL(file);
  
    // Create a new input field to use going forward
    const newInput = originalInput.cloneNode()
  
    // Clear the filelist - some browsers maintain the filelist when cloning,
    // others don't
    newInput.value = ""
  
    // Add it to the DOM where the original input was
    originalParent.append(newInput)
  }
  