<div class="container-fluid">
  <ul class="list-unstyled multi-steps">
    <li>Etape 1</li>
    <li>Etape 2</li>
    <li>Etape 3</li>
    <li>Etape 4</li>
    <li class="is-active">Terminer</li>
  </ul>
</div>

<div class="step-e-card">
  <div class="step-e-box">
    <h4>Location n°<%= @rental.id %></h4>
  </div>

  <div class="step-e-box date-step">
    <p class="date_show_rental"><%= I18n.l(@rental.starts_on, format: :short)  %></p><h5 class="arrow_date arrow-step">-></h5><p class="date_show_rental"><%= I18n.l(@rental.ends_on, format: :short)  %></p>
  </div>
  
  <div class="step-e-box car-info-box">
    <p><%= @car.name %></p>
    <p><%= @car.engine %></p>
    <p><%= @car.consommation %></p>
  </div>

  <h5>Photos extérieures</h5>
  <div class="step-e-box car-image-out">
    <%= image_tag @rental.front_left , class: 'image-box-car' %>
    <%= image_tag @rental.front , class: 'image-box-car' %>
    <%= image_tag @rental.front_right , class: 'image-box-car' %>
    <%= image_tag @rental.left , class: 'image-box-car' %>
    <%= image_tag @rental.right , class: 'image-box-car' %>
    <%= image_tag @rental.rear_left , class: 'image-box-car' %>
    <%= image_tag @rental.rear , class: 'image-box-car' %>
    <%= image_tag @rental.rear_right , class: 'image-box-car' %>
  </div>

  <h5>Photos intérieures</h5>
  <div class="step-e-box car-image-out">
    <% @rental.img_car_inside.each do |image| %>
      <%= image_tag image , class: 'image-box-car' %>
    <% end %>
  </div>
</div>

<%= button_to "Terminer", rentals_step_path(@rental) ,:params => {:step => "E"},method: "put",class:"next-step-location" %>
