<div class="container-fluid">
  <ul class="list-unstyled multi-steps">
    <li>Etape 1</li>
    <li>Etape 2</li>
    <li>Etape 3</li>
    <li class="is-active">Etape 4</li>
    <li>Terminer</li>
  </ul>
</div>

<% if @rental.errors.any? %>
    <%= flash.discard(flash[:alert] = "Veuillez remplir tous les champs!") %>
<% end %>


<div class="step-d-card">
    <%= form_for ([@rental]), :html => { :style => 'margin:auto;' },:url => rentals_step_path(@rental), :method => "patch" do |f| %>
        <div data-controller="multi-upload" class="upload-preview-inside-car">
          <div data-multi-upload-target="files" class="preview-img upload-card"></div>
          <div class="photos">
            <label for="file-rental">
                <i><h5 style="cursor:pointer;">Ajouter une photo intérieure</h5></i>
            </label>
            <%= f.file_field :img_car_inside, id:"file-rental", :multiple => true, :data => {:action => "multi-upload#addFile"} %>
          </div>
        </div>

        <%= hidden_field_tag 'step', "D" %>
        <%= f.submit "Etape suivante",class: "next-step-location" %>

        
    <% end %>
</div>

