<div class="container-fluid">
  <ul class="list-unstyled multi-steps">
    <li>Etape 1</li>
    <li class="is-active">Etape 2</li>
    <li>Etape 3</li>
    <li>Etape 4</li>
    <li>Terminer</li>
  </ul>
</div>

<h5 class="title-step-b">Photos extérieurs</h5>
<div class="step-b-card">
    
    <%= form_for ([@rental]), :html => { :style => 'margin:auto;' },:url => rentals_step_path(@rental), :method => "patch" do |f| %>
        <div class="upload-card">
            <% @car_image_faces.each do |face| %>
                <div class="upload-preview <%= face %>">
                    <%= image_tag "#{face}.png", class:"car_step" %>
                    <label for="file-rental<%= face %>">
                        <img />
                        
                        <i class="fas fa-pen fa-2x"></i>
                    </label>
                    <%= f.file_field face, id:"file-rental#{face}", class: "file-rental", multiple: false %>
                </div>
            <% end %>
        </div>

        <%= hidden_field_tag 'step', "B" %>
        <%= f.submit "Etape suivante",class: "next-step-location" %>


    <% end %>
</div>



<% content_for :javascript_includes do %>
  <%= javascript_pack_tag "web/rentals_step/stepB_view.js" %>
<% end %>




