<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="body-login"> 
    <div class="container-login">
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="card-container">
        <div class="card-login-forget-pw">
          <div class="card-header">
            <h3 style="text-align:center;">Mot de passe oublié?</h3>
            <div class="card-social social_icon">
              <span><i class="fas fa-at"></i></span>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                 <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control-login", placeholder: "email" %>                      
              </div>
              <div class="form-group forget_pw">
                <%= f.submit "Réinitialisation du mot de passe", class:"login_btn" %>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>







