

<div class="admin-menu hidden-xs">
    <h1>Controle Panel</h1>
    <nav>
        <ul class="nav flex-column flex-md-row">
            <li class="nav-item ">
                <%= link_to "#" , class:"nav-link nav-dash" do %>
                    <i class="fas fa-chart-line fa-lg fa-dash"></i><h5>Tableau de bord</h5>
                <% end %>
            </li>
            <li class="nav-item ">
                <%= link_to customer_path , class:"nav-link nav-dash" do %>
                    <i class="fas fa-users fa-lg fa-dash"></i><h5>Clients</h5>
                <% end %>
            </li>
            <li class="nav-item ">
                <%= link_to verification_index_path , class:"nav-link nav-dash" do %>
                    <i class="fas fa-user-check fa-lg fa-dash"></i><h5>Vérifications</h5>
                <% end %>
            </li>
            <li class="nav-item ">
                <%= link_to vehicle_path , class:"nav-link nav-dash" do %>
                    <i class="fas fa-car fa-lg fa-dash"></i><h5>Voitures</h5>
                <% end %>
            </li>
            <li class="nav-item"><%= link_to "Voitures MiFleet", '#', class:"nav-link"%></li>
            <li class="nav-item ">
                <%= link_to traccar_index_path , class:"nav-link nav-dash" do %>
                    <i class="fas fa-wifi fa-lg fa-dash"></i></i><h5>Connect traccar</h5>
                <% end %>
            </li>
            <li class="nav-item ">
                <%= link_to '#' , class:"nav-link nav-dash" do %>
                    <i class="fas fa-unlock-alt fa-lg fa-dash"></i></i><h5>Traccar lock</h5>
                <% end %>
            </li>
            <li class="nav-item"><%= link_to "Commandes", orders_path, class:"nav-link"%></li>
            <li class="nav-item"><%= link_to "Transactions", '#', class:"nav-link"%></li>
            <li class="nav-item"><%= link_to "Promotions", '#', class:"nav-link"%></li>
            <li class="nav-item ">
                <%= link_to statistics_path , class:"nav-link nav-dash" do %>
                    <i class="fas fa-chart-area fa-lg fa-dash"></i><h5>Statistiques</h5>
                <% end %>
            </li>
            <li class="nav-item"><%= link_to "Paiement", '#', class:"nav-link"%></li>
            <li class="nav-item ">
                <%= link_to '#' , class:"nav-link nav-dash" do %>
                    <i class="fas fa-user-shield fa-lg fa-dash"></i><h5>Administration</h5>
                <% end %>
            </li>
            <li class="nav-item"><%= link_to "Paramètres", '#', class:"nav-link"%></li>
        </ul>
    </nav>
</div>




<div class="admin-menu-mobile hidden-sm hidden-lg hidden-md">
    <h4>Controle Panel</h4>
    <a  class="menu-dashboard"> <i onClick= "profileFunctionMob()" class="mobile-fa fa fa-bars dropdown-toggle-mob"></i></a>
    <div class="dropdown-content-mobile dropdown-menu-mobile", id ="myDropdown-mob">
        <li class="dropdown-item"><%= link_to "Tableau de bord", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Clients", customer_path, class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Vérifications", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Voitures", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Voitures MiFleet", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Connect traccar", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Traccar lock", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Commandes", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Transactions", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Promotions", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Statistiques", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Paiement", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Administration", '#', class:"nav-link"%></li>
        <li class="dropdown-item"><%= link_to "Paramètres", '#', class:"nav-link"%></li>
    </div>

</div>
