<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">
      <% if user_signed_in? && (current_user.admin? || current_user.renter?) %>
        <div class="proprio-toggle">
          <button type="button" id="toggleBtn" name="locat_proprio" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
            <div class="handle"></div>
          </button>
        </div>
      <% end %>
      <!-- Links when logged in -->
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Dashboard', dashboard_index_path , class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
      
      <%= link_to "Nos vehicules", cars_path , data: { turbolinks: false }, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Vos locations", rentals_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Messages", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Avatar with dropdown menu -->

      <% if user_signed_in? %>
      
        <div onClick= "profileFunction()" class="dropbtn dropdown navbar-wagon-item avatar-out">
    
          <a class=""><%= image_tag current_user.avatar_thumbnail, class: "avatar avatar-out" %></a>
          <ul class="dropdown-content dropdown-menu dropdown-menu-right" id="myDropdown">
              <li><%= link_to "Compte", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "Vérifier son profil", license_index_path,  class: "dropdown-item" %></li>
              <li><%= link_to "Manage", "#", class: "dropdown-item" %></li>
              <li class='divider'></li>
              <li><%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>

        </div>
      <% else %>
        <div onClick= "profileFunction()"  class="dropdown dropbtn navbar-wagon-item">     
            <a class=""><%= image_tag "unknown.jpg", class: "avatar avatar-out" %></a>
            <ul class="dropdown-content dropdown-menu dropdown-menu-right" id="myDropdown">
                <li><%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %></li>
                <li><%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %></li>
            </ul>
        </div>
      <% end%>

      
    
      <!-- Login link (when logged out) -->
      <!-- Avatar with dropdown menu -->
      
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <!-- A FAIRE EN JS !! -->
  <div onClick= "profileFunction2()" class="dropdown mobile dropbtn navbar-wagon-item hidden-md hidden-lg hidden-sm">
    
    <% if user_signed_in? %>
      <%= image_tag current_user.avatar_thumbnail, class: "avatar avatar-out avmobile" %>
    <% else %>
      <%= image_tag "unknown.jpg", class: "avatar avatar-out avmobile" %>
    <% end %>
    
    <a  class=""> <i class="mobile fa fa-bars dropdown-toggle"></i></a>
    <div class="dropdown-content dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu", id ="myDropdown2">

      <% if user_signed_in? && (current_user.admin? || current_user.renter?) %>
        <div class="proprio-toggle">
          <button type="button" id="toggleBtnMobile" name="locat_proprio" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
            <div class="handle"></div>
          </button>
        </div>
      <% end %>

      <% if user_signed_in? && current_user.admin? %>
        <li><%= link_to 'Dashboard', dashboard_index_path  , class: "dropdown-item" %> </li>
        <li class='divider'></li>
      <% end %>

      <li><%= link_to "Nos vehicules", cars_path, data: { turbolinks: false }, class: "dropdown-item" %> </li>
      <li><%= link_to "Vos locations", rentals_path, class: "dropdown-item" %></li> 
      <li><%= link_to "Messages", "#", class: "dropdown-item" %></li>
      <li class='divider'></li>

      <% if user_signed_in? %>
        <li><%= link_to "Compte", edit_user_registration_path, class: "dropdown-item" %></li>
        <li><%= link_to "Vérifier son profil", "#", class: "dropdown-item" %></li>
        <li><%= link_to "Manage", "#", class: "dropdown-item" %></li>
        <li class='divider'></li>
        <li><%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      <% else %>
        <li><%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %></li>
        <li><%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %></li>
      <% end %>
    </div>

  </div>
</div>

