<div class="background-searchbar">
  <div class="form-row align-items-center" >
  <%= form_tag "/search", :method => "get" do %>
    <div class="form-group mx-sm-3 mb-3 search_address" >
      <input id= "car_address", name="search_address", placeholder ="  Adresse de départ", value = "<%= @address %>" >
    </div>
    <div class="mobile-date-form">
        <div class="form-group mx-sm-3 mb-3 col-sm search_date">
          <input  id= "date-starting", readonly='true' , name="search_start_date", placeholder="Début", value = "<%=@start_date %>" >
        </div>
        <div class="form-group mx-sm-3 mb-3 col-sm search_time">
          <input  id= "timepicker", readonly='true' , name="search_start_time", placeholder="Début Heure", value = "<%=@search_start_time %>" >
        </div>
    </div>
    <div class="mobile-date-form">
        <div class="form-group mx-sm-3 mb-3 search_date" >
          <input id= "date-ending", readonly='true' , name="search_end_date", placeholder="Fin", value = "<%= @end_date %>" >
        </div>
       <div class="form-group mx-sm-3 mb-3 col-sm search_time">
          <input  id= "timepicker2", readonly='true' , name="search_start_time", placeholder="Début Heure", value = "<%=@search_start_time %>" >
        </div>
    </div>
        <div class="form-group mx-sm-3 mb-3 search_distance" >
          <%= select_tag :search_distance ,options_for_select([['Distance', 'inconnu'], ['25 km', 25], ['50 km', 50], ['100 km', 100], ['200 km', 200], ['300 km', 300], ['400 km', 400],['500 km', 500], ['600 km', 700], ['300 km', 800], ['400 km', 900],['1000 km', 1000], ['1100 km', 1100], ['1200 km', 1200], ['1300 km', 1300],['1400 km', 1400], ['1500 km', 1500], ['2000 km', 2000], ['3000 km', 3000]], disabled: 'inconnu', selected: 'inconnu', :prompt => 'Distance'),class:'form-control' %>
        </div>
        <div class="form-group mx-sm-3 mb-3" style="margin-top: 0.8%;">
          <%= button_tag(type: "submit", class: "search_submit") do %><i class="fas fa-search"></i><% end %>
        </div>
        <% end %>
      </div>
    </div>
