<nav class="navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <% if (action_name == "index") %>
                        <li class="nav-item active">
                    <% else %>
                        <li class="nav-item">
                    <% end %>
                        <a class="nav-link" href="<%= dashboard_index_path %>"><i class="fas fa-tachometer-alt"></i>Accueil</a>
                    </li>
                    <% if (action_name == "page1") %>
                        <li class="nav-item active">
                    <% else %>
                        <li class="nav-item">
                    <% end %>
                        <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>Page 1</a>
                    </li>
                    <% if (action_name == "mifleetcars") %>
                        <li class="nav-item active">
                    <% else %>
                        <li class="nav-item">
                    <% end %>
                        <a class="nav-link" href="<%= mifleetcars_path %>"><i class="far fa-clone"></i>Véhicules connectés</a>
                    </li>
                    <% if (action_name == "page 3") %>
                        <li class="nav-item active">
                    <% else %>
                        <li class="nav-item">
                    <% end %>
                        <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Page 3</a>
                    </li>
                    <% if (action_name == "page 4") %>
                        <li class="nav-item active">
                    <% else %>
                        <li class="nav-item">
                    <% end %>
                        <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Page 4</a>
                    </li>
                    <% if (action_name == "page 5") %>
                        <li class="nav-item active">
                    <% else %>
                        <li class="nav-item">
                    <% end %>
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Page 5</a>
                </li>
            </ul>
        </div>
    </nav>

