<% if @rental.errors.any? %>
    <%= flash.discard(flash[:alert] = "Il manque #{@rental.errors.count} #{("champ").pluralize(@rental.errors.count)}!") %>
<% end %>
<div style="padding-top:30px;">
    <div class="form-rental-div">
        <h3>Modifer sa commande : <%= @car_info.name %></h3>
        <%= render 'form_edit' %>

    </div>
</div>


<% content_for :javascript_includes do %>
     <%= javascript_pack_tag "web/rentals/rentals_edit_view.js" %>  
<% end %>
