<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>



<% if user_signed_in? && current_user.client? %>
    <div id="rentals_results"></div>
<% end %>

<% if user_signed_in? && (current_user.renter? || current_user.admin?) %>
    <div id="rentals_results" style="display : none;"></div>
    <div id="my_rentals_results" style="display : none;"></div>
<% end %>

<% content_for :javascript_includes do %>
    <%= javascript_pack_tag "web/rentals/rentals_index_view.js" %>  
<% end %>




