<div id="header">
  <div class="container_search">
    <h1 class="masthead-heading">Louez un vehicule avec MiFleet.fr</h1>
    <div class="form-inline text-center" >
      <%= render 'shared/searchbar' %>
      </div>
    </div>
  </div>
<div class="container">
  <div class="column">
    <div class="col-xs-12 col-sm-4">
      <div class="service-card">
        <%= image_tag "247service.png", class:"categorie" %>
      </div>
      <div class="card-body">
        <h4 class="card-title">Véhicule disponible 24h/24 et 7j/7</h4>
        <p class="card-text">Réservez et commencez votre location quand vous voulez : la nuit, le jour, en totale autonomie.</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="col-xs-12 col-sm-4">
      <div class="service-card">
        <%= image_tag "connected-car.png", class:"categorie" %>
      </div>
      <div class="card-body">

        <h4 class="card-title">Accéder aux véhicule grâce à votre smartphone</h4>
        <p class="card-text">100% mobile : réservez, localisez et ouvrez votre voiture depuis l’application MiFleet.</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="col-xs-12 col-sm-4">
      <div class="service-card">
        <%= image_tag "availablecar.png", class:"categorie" %>
      </div>
      <div class="card-body">
        <h4 class="card-title">Des voitures en bas de chez vous</h4>
        <p class="card-text">Des dizaines de voitures près de chez vous : citadines, utilitaires, familiales</p>
      </div>
    </div>
  </div>
</div>
<h1 style="color: black">Nos Vehicules</h1>
<div class="container">
  <% @cars.each_with_index do |car, index| %>
  <div class="column">
    <div class="col-xs-12 col-sm-4">
    <div class="card"  style="background-image:url(<%= @result_image[index] %>); height: 280px;">
      <div class="card-description">
        <h2><span style="font-size: 50px;"><%= car.price_cents %></span>€/Jrs</h2>
        <h2><%=  link_to car.name, car %></h2>
        <p style="color: white;"><%= car.year %>, Moteur <%= car.engine %>, <%= car.places %> Places, <%= car.gearbox %></p>
      </div>
      <%= link_to 'Show', car, class: 'card-link' %>
    </div>
    <br>
    </div>
  </div>
  <% end %>
</div>

</div>


<% content_for :javascript_includes do %>
  <%= javascript_pack_tag "web/pages/home_view.js" %>
<% end %>


<%= render 'shared/footer' %>
