<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>
<br>
   <div class="form-inline text-center" >
      <%= render 'shared/searchbar' %>

      </div>

<div id="results"></div>

<% content_for :javascript_includes do %>
    <%= javascript_pack_tag "web/pages/search_view.js" %>

<% end %>

