  
    <div class="message">
        <%= image_tag User.find(rental.user_id).avatar_thumbnail, class: "avatar-large" %>
        <div class="message-name">
            <h3><%= User.find(rental.user_id).email %></h3>
            <p><%= rental.created_at %></p>
        </div>
        <div class="message-body">
            <p><strong><%= Car.find(rental.car_id).name %></strong></p>
            <p><%= rental.starts_on%> jusqu'au <%= rental.ends_on %></p>
            <p><%= Car.find(rental.car_id).plaque %></p>
            <% if (user_signed_in? && current_user.id == rental.user_id) || (current_user.admin?) %>
                <p><%= link_to "Modifier sa commande", edit_rental_path(rental) %></p>
            <% end %>
        </div>
        <div class="message-status">
            <p class="status pending">Pending</p>
            <p class="price">€<%= rental.total_price_cents %></p>
        </div>
    </div>

