<% if @rental.errors.any? %>
    <%= flash.discard(flash[:alert] = "Il manque #{@rental.errors.count} #{("champ").pluralize(@rental.errors.count)}!") %>
<% end %>
<div style="padding-top:30px;">
    <div class="form-rental-div">
        <h3>Nouvelle location : <%= @car_info.name %></h3>
        <%= render 'form' %>
    </div>
</div>

<% content_for :javascript_includes do %>
    <%= javascript_pack_tag "appMobile/rentals_app/rentals_app_new_view.js" %>
<% end %>

