<h5 class="titre_rental">Location n°<%= @rental.id %></h5>
<div class="line_rental"></div>

<div class="rentals_show_card card">
    <%= image_tag @car.cars_thumbnail.first, class: "image-size-rentals" %>
    <div class="rentals_show_description">
        <h2><%= @car.name %></h2>        
        <p><%= @car.plaque %></p>
        
    </div>
    <div class="rentals_arrow"><p>></p></div>
    <%= link_to "", car_path(@car), class:'card-link' %>
</div>

<div class="line_rental"></div>
<h5 class="second_titre_rental">Status de la location</h5>
<div class="line_rental"></div>

<div class="box-rental">
    <% if @rental.status == "incoming" && @rental.payment_status == false %>
        <p>La location est en attente de paiement.</p>
    <% elsif @rental.status == "incoming" && @rental.payment_status == true %>
        <p>La location est confirmée.</p>
    <% elsif @rental.status == "in process" && @rental.payment_status == true %>
        <p>La location est en cours.</p>
    <% elsif @rental.status == "finished" && @rental.payment_status == true %>
        <p>La location est en terminée.</p>
    <% end %>
</div>

    <div class="box-rental" style="margin-bottom:10px;">
    <% if @rental.status == "incoming"  && @rental.payment_status == false %>
        <%= button_to "Accéder au paiement", new_charge_path(rental: @rental) ,:params => {:rental => @rental},method: "get",class:"payement_location" %>
    <% elsif @rental.status == "incoming"  && @rental.payment_status == true %>
        <%= button_to "Débuter la location", stepA_path(@rental),method: "get",class:"start_location" %>
    <% elsif @rental.status == "in process" && @rental.payment_status == true  %>
        <%= button_to "Terminer la location", "#",method: "get",class:"end_location" %>
    <% end %>
</div>
 <div class="line_rental"></div>

    <h5 class="second_titre_rental">Propriétaire du véhicule</h5>
    <div class="line_rental"></div>
    <div class="box-rental">
        <p><%= @user.email %></p>
    </div>
<div class="line_rental"></div>

<h5 class="second_titre_rental">Prix de la location</h5>
<div class="line_rental"></div>
<div class="box-rental">
    <p><%= @rental.total_price_cents %>€</p>
</div>



<div class="line_rental"></div>

<h5 class="second_titre_rental">Date de la location</h5>
<div class="line_rental"></div>
<div class="box-rental">
    <p class="date_show_rental"><%= I18n.l(@rental.starts_on, format: :short)  %></p><h5 class="arrow_date">-></h5><p class="date_show_rental"><%= I18n.l(@rental.ends_on, format: :short)  %></p>
</div>



<div class="line_rental"></div>
<h5 class="second_titre_rental">Actions</h5>
<div class="line_rental"></div>
<div class="box-rental">
    <p>Prolonger ou modifier la location</p>
    <div class="rentals_arrow_bis"><p>></p></div>
    <%= link_to "", edit_rentals_app_path(@rental), class: "card-link-rental" %>
</div>
<div class="line_rental_bis"></div>
<div class="box-rental">
    <p>Annuler la location</p>
    <div class="rentals_arrow_bis"><p>></p></div>
    <div class="card-link-rental"><%= button_to "", rentals_app_path(@rental),class:"delete_rental", method: :delete, :onclick => "return confirm('Etes vous sur?')", :remote => true %></div>
</div>
<div class="line_rental_bis"></div>
<div class="box-rental">
    <p>Action 3</p>
    <div class="rentals_arrow_bis"><p>></p></div>
</div>
<div class="line_rental_bis"></div>
<div class="box-rental">
    <p>Action 4</p>
    <div class="rentals_arrow_bis"><p>></p></div>
</div>
<div class="line_rental"></div>

<h5 class="second_titre_rental">Message</h5>
<div class="line_rental"></div>
<div class="box-rental-chat">
    <div class="col box-chat">
        <div class="chat">
            <% @room_messages.each do |room_message| %>
                <div class="chat-message-container">
                    <div class="row-chat no-gutters">
                        <div class="col-auto text-center">
                            <%= image_tag room_message.user.avatar_thumbnail, class: "avatar-rent" %>
                        </div>

                        <div class="col-chat">
                            <div class="message-content" style="background-color:<%= room_message.color %>;">
                                <p class="mb-1">
                                <%= room_message.message %>
                                
                                </p>

                                <div class="text-right">
                                <small>
                                    <%= time_ago_in_words(room_message.created_at) %>
                                </small>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            <% end %>
        </div>

        <%= form_for([@room_message], remote: true, id: "new_room_message") do |form| %>
        <div class="input-group">
            <%= form.text_area :message, as: :string,
                                    wrapper: false,
                                    label: false,
                                    input_html: {
                                    class: 'chat-input'
                                    } %>
            <div class="input-group-append">
                <%= form.submit "Envoyer", class: 'btn btn-chat chat-input' %>
            </div>
        </div>

        <%= form.hidden_field :rental_id %>
        <% end %>
    </div>
</div>

<% content_for :javascript_includes do %>
    <%= javascript_pack_tag "appMobile/rentals_app/rentals_app_show_view.js" %>    
<% end %>