<div class="container-login">
    <div class="card-container-edit">
        <div class="card-login-update">
            <div class="card-header">
                <h3> <span><i class="fas fa-arrow-left"></i><span> </span><i class="fas fa-id-badge"></i></span> Vérifier votre permis</h3>
            </div>
            <div class="card-body-license">
                <% if user_signed_in? && current_user.not_verified? %>
                    <p class="license-text"><%= current_user.name %>  <%= current_user.firstname %></p>
                    <p class="license-text">Votre profil n'est pas vérifié.</p>
                <% end %>
                <% if user_signed_in? && current_user.verified? %>
                    <p class="license-text"><%= current_user.name %>  <%= current_user.firstname %></p>
                    <p class="license-text">Votre profil est vérifié.</p>
                <% end %>
            </div>

            <div class="card-body-license">
                <% if user_signed_in? && current_user.not_verified? %>
                    <p class="license-text">Pour vérifier votre profil, veuillez accéder à l'application.</p>
                    <%= link_to "Télécharger l'applcation", "#" , class:"btn-mifleet-app" %>
                <% end %>
            </div>
        
        </div>
    </div>
</div>

