.profiler-results.profiler-top.profiler-left {
    display:none;
}




.container-devise {
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 640px;
    min-height: 500px;
    background-color:#ADD8E6;
    margin:auto;
    margin-top: 100px;
    background-color:#F0F0F0;
}

.container-devise form, .container-devise .card-stripe {
    position: relative;
    max-width: 500px;
    transition-property: opacity, transform;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom:15px;
}

.container-devise form fieldset, .container-devise .card-stripe fieldset  {
    border: 1px solid #238bd1;
    padding: 15px;
    border-radius: 6px;
}

.card-only {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    
}

.form-row {
    margin: 0 0 10px;
    display:flex;
}

.container-devise .field {
    position: relative;
    width: 100%;
}

.container-devise label {
    font-size: 13px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container-devise .input, .StripeElement {
    width: 100%;
    background: transparent;
    padding: 5px 0 6px 0;
    border-bottom: 1px solid #238bd1;
    transition: border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    appearance: none;
    outline: none;
    border-style: none;
    border-bottom-style: solid;
    border-radius: 0;
}



.container-devise .input:focus , .StripeElement:hover {
    border-color: #fff;
}

.container-devise button {
    display: block;
    width: 100%;
    height: 40px;
    margin: 20px 0 0;
    background-color: #238bd1;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    appearance: none;
    outline: none;
    border-style: none;
}
.container-devise button:active {
    background-color: white;
    color:black;
}

.image-size-charge-car {
    height: 80px;
    width: 90px;
    border-radius:50%;
}

.card-car-info-charge {
    display:flex;
    flex-direction:row;
}

.charge-description-car {
    height:80px;
    margin-left:10px;
}

.charge-description-car h3 {
    height:15px;
}


@media only screen and (max-width: 770px){
    .container-devise {
        align-items: center;
        border-radius: 4px;
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        max-width: 100%;
        min-height: 100%;
        background-color:#ADD8E6;
        margin:auto;
        background-color:#F0F0F0;
    }

    .container-devise form , .container-devise .card-stripe {
        position: relative;
        transition-property: opacity, transform;
        transition-duration: 0.35s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom:15px;
    }

}
