<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="body-login">
    <div class="container-login">
      <div class="card-container">
        <div class="card-login">
          <div class="card-header">
            <h3>Connectez-vous à votre compte</h3>
            <br>
            <div class="card-social social_icon">
              <span><i class="fab fa-facebook-square"></i></span>
              <span><i class="fab fa-google-plus-square"></i></span>
              <span><i class="fab fa-twitter-square"></i></span>
            </div>
            <h3>OU</h3>
          </div>
          <br>
          <div class="card-body-devise">
            <form>
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                 <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control-login", placeholder: "email" %>


              </div>
              <div class="input-group-login">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control-login" ,placeholder: "password" %>

              </div>
              <div class="form-group">
                <%= f.submit "Se connecter", class:"login_btn" %>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>





