
<% if @car.errors.any? %>
    <%= flash.discard(flash[:alert] ="Il manque #{@car.errors.count} #{("champ").pluralize(@car.errors.count)}!") %>
  <% end %>


  <%= render "form" %>


<% content_for :javascript_includes do %>
  <%= javascript_pack_tag "appMobile/cars_app/cars_app_new_view.js" %>
<% end %>
