/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
    margin: 0;
    text-align: center;
    color: white;
  }
  .alert-info {
    background: #32B796;
  }
  .alert-warning {
    background: #EE5F5B;
  }
  
  .field_with_errors label {
    color: red;
  }