/* Main navbar */
.navbar-wagon {
    background: #5E5E5E;
    transition: all 0.3s ease;
    height: 70px;
   // padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo */
  .navbar-wagon-brand img {
    height: 70px;
    margin-left: 10px;
  }
  
  /* User Avatar */
  .navbar-wagon .avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  .navbar-wagon .avmobile {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right:10px;
  }
  
  /* Right section */
  .navbar-wagon-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Basic navbar item */
  .navbar-wagon-item {
    cursor: pointer;
    padding: 0 20px;
    .fa {
    color: white;
  }
  }
  
  /* Navbar link */
  .navbar-wagon-link {
    color: white;
    font-size: 14px;
  }
  .navbar-wagon-link:hover {
    color: #A8EC63;
    text-decoration: none;
  }
  
  /* Dropdown menu */
  .navbar-wagon-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
  }
  .navbar-wagon-dropdown-menu li > a {
    transition: color 0.3s ease;
    font-weight: lighter !important;
   //color: #999999 !important;
    font-size: 15px !important;
    line-height: 22px !important;
    padding: 10px 20px;
  }
  .navbar-wagon-dropdown-menu li > a:hover {
    background: transparent !important;
    color: black !important;
  }
  .navbar-wagon-dropdown-menu:before {
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: -6px;
    background-color: white;
    transform: rotate(45deg);
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
  }
  
/* Dropdown Button */
.dropbtn {
  padding: 3px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  margin-right:8px;
  background-color: grey
}

/* Dropdown button on hover & focus */
@media (min-width: 700px) {
  .dropbtn:hover, .dropbtn:focus {
    background-color: #A8EC63;
  }
}

.circle-mobile {
  background-color: #A8EC63;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
}


/* Change color of dropdown links on hover */
.dropdown-content li:hover {background-color: #ddd}

.show {display:block;}

.mobile {
  margin-right:10px;
}