<div class="list-items item-card-pc">
    <table>
        <caption>Liste des véhicules</caption>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Nom</th>
            <th scope="col">Plaque</th>
            <th scope="col">Device id</th>
            <th scope="col">Traccar connect</th>
            <th scope="col">Propriétaire</th>
            <th scope="col">Edit device id</th>
        <tr>
        <% @cars.each do |car| %>
            <tr>
                <td class="item-image"><%= image_tag car.cars_thumbnail.first, class: "image-pp" %></td>
                <th scope="row" class="item-name"><%= car.name %></th>
                <td class="item-info"><%= car.plaque %></td>
                <% if car.device_id? %>
                    <td class="item-info"><%= car.device_id %></td>
                <% else %>
                    <td class="item-info">
                        <%= link_to 'Ajouter un device id', edit_traccar_path(car) , class: '' %>
                    </td>
                <% end %>
                <% if @uniqueId.include? car.device_id %>
                    <td class="item-info traccar-connect"><p>connected</p></td>
                <% else %>
                    <td class="item-info">
                        <p>not connected</p>
                    </td>
                <% end %>
                <td class="item-info"><%= car.user.email %></td>
                <td>
                    <%= link_to ('<i class="fas fa-edit fa-2x"></i>').html_safe, edit_traccar_path(car) %>
                </td>

            </tr>

            
        <% end %>
    </table>
</div>