<div class="list-items item-card-pc">
    <table>
        <caption>Liste des véhicules connectés à traccar</caption>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Device id</th>
            <th scope="col">Position</th>
            <th scope="col">statut</th>
            <th scope="col">Commandes</th>
        <tr>
        <% @data.each do |traccar| %>
            <tr>
                <th scope="row" class="item-name"><%= traccar['name'] %></th>
                <td class="item-info"><%= traccar['uniqueId'] %></td>
                <td class="item-info"><%= traccar['positionId'] %></td>
                <% if traccar["status"] == "online" %>
                    <td class="item-info traccar-connect"><%= traccar['status'] %></td>
                   
                <% else traccar["status"] == "offline" %>
                    <td class="item-info">
                        <%= traccar['status'] %>
                    </td>
                <% end %>
                 <td>
                    <%= link_to ('<i class="fas fa-edit fa-2x"></i>').html_safe, traccar_edit_path(traccar['id']) %>
                </td>

            </tr>

            
        <% end %>
    </table>
</div>