<div class="dashboard">   
    <div class="page-menu">
        <h2>Traccar</h2>

        <div>
            <%= form_with url: "/add_device_id", method: :put do |f| %>
                <h4 class="title-input-car"><%= @car.name %></h4>
                <div class="car-input width-395">
                    <span class="label-new-car">Rentrez le device id</span>
                <div class="input-arrow">
                    <%= f.text_field :device_id %>                  
                </div>
                <%= f.hidden_field :car_id, :value => @car.id %>
                <div class="div-btn-new-car">
                <%= button_tag type: 'submit', class: "btn-new-car" do %>
                    <span style="display:flex;">Mettre à jour <i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i></span>
                <% end %>
                </div>
            <% end %>
            </div>
        </div>


    </div>


</div>

