<div class="dashboard">   
    <div class="page-menu">
        <h2>Traccar</h2>
        <%= paginate @cars, theme: 'twitter-bootstrap-4' %>
        <%= form_tag(search_traccar_path, method: "get", remote: true) do %>
            <div class="input-group mb-5">
                <div class="col-8" style="padding:0">
                    <%= text_field_tag :search_traccar, '', class:'form-control', placeholder: 'Recherche de voitures ...', onkeydown:'clickSubmit();'%>
                </div>
                <div class="col-4" style="padding:0">
                    <%= submit_tag "Search", class:'btn btn-dark', id:'search_submit', style:'display:none'%>
                </div>
            </div>
        <% end %>
        
        <div id="menu-traccar-container">
            <%= render 'cars'%>
        </div>


        
        <div id="menu-traccar-connected-container">
            <h4 class="btn-add-device"><%= link_to "Ajouter un device", new_traccar_path %></h4>
            <%= render 'traccar'%>
        </div>

    </div>


</div>

<script>
    function clickSubmit() {
        $("#search_submit").trigger("click");
    }
    function clickSubmitTraccar() {
        $("#search_submit_traccar").trigger("click");
    }
</script>