<div class="dashboard">   
    <div class="page-menu">
        <h2>Traccar - Ajouter un device</h2>

        <div>
            <%= form_with url: "/add_traccar_device", method: :post do |f| %>
                <div class="car-input width-395">
                    <span class="label-new-car">Nom</span>
                <div class="input-arrow">
                    <%= f.text_field :name %>                  
                </div>
                <div class="div-btn-new-car">
                <%= button_tag type: 'submit', class: "btn-new-car" do %>
                    <span style="display:flex;">Ajouter device<i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i></span>
                <% end %>
                </div>
            <% end %>
            </div>
        </div>


    </div>


</div>

