<div class="dashboard">   
    <div class="page-menu">
        <h2>Traccar</h2>

        <h4 class="title-input-car"><%= @traccar['name'] %></h4>

        <% if @traccar["status"] == "online" %>
            <% @commands.each do |command| %>
            
                <div class="div-btn-command-traccar">
                    <%= button_to command['description'], {:controller => "traccar", :action => "traccar_command", :id => command["id"], :traccar_id=> @traccar['id']} , :method=>:post, :class => "btn-traccar-command"  %>
                </div>

            <% end %>

        <% else @traccar["status"] == "offline" %>
            <td class="item-info">
                <%= @traccar['status'] %>
            </td>
        <% end %>

    </div>


</div>

