
<div class=" hidden-xs">
     <%= form_for([@rental]) do |f| %>
          <%= f.label "Selectionner une date" %>
          <div class="invalid-date-message">
               <p>Votre date est invalide</p>
          </div>
          <!-- ordi date -->
          <div class="rent_date">
               <input id= "rent-date-starting", name="rent_start_date", placeholder="Début" >
               <%= select_tag :rent_start_time ,options_for_select([['7:30', '7:30:00'], ['8:00', '8:00:00'], ['8:30', '8:30:00'], ['9:00', '9:00:00'], ['9:30', '9:30:00'], ['10:00', '10:00:00']],  selected: @time_start[1], :prompt =>  @time_start[0]) ,class:'form-control' %>                 
               <div class="spacing-div"></div>
               <input id= "rent-date-ending", name="rent_end_date", placeholder="Fin" > 
               <%= select_tag :rent_end_time ,options_for_select([['7:30', '7:30:00'], ['8:00', '8:00:00'], ['8:30', '8:30:00'], ['9:00', '9:00:00'], ['9:30', '9:30:00'], ['10:00', '10:00:00']],  selected: @time_end[1], :prompt => @time_end[0]) ,class:'form-control' %>  
          </div>
          <!-- fin ordi date -->
          <%= f.label "Selectionner une distance" %>
          <%= f.select :distance ,options_for_select([['Distance', 0], ['25 km', 25], ['50 km', 50], ['100 km', 100], ['200 km', 200], ['300 km', 300], ['400 km', 400],['500 km', 500], ['600 km', 600], ['800 km', 800], ['900 km', 900],['1000 km', 1000], ['1100 km', 1100], ['1200 km', 1200], ['1300 km', 1300],['1400 km', 1400], ['1500 km', 1500], ['2000 km', 2000], ['3000 km', 3000]],  selected: @distance_rental[1], :prompt => @distance_rental[0]),class:'form-control rent_distance' %>
          <%= hidden_field_tag 'car_attributes', @car.id %>
           <%= f.submit "Réserver",class: "button-rent-mobile", disabled:false %>
     <% end %>
</div>


<div class=" hidden-md hidden-lg hidden-sm">
     <%= form_for([@rental]) do |f| %>
          <%= f.label "Selectionner une date" %>
          <div class="invalid-date-message-mobile">
               <p>Votre date est invalide</p>
          </div>
         
          <!-- mobile date -->
          <div class="rent_date">
               <input id= "rent-date-starting-mobile", name="rent_start_date", placeholder="Début" >
               <%= select_tag :rent_start_time ,options_for_select([['7:30', '7:30:00'], ['8:00', '8:00:00'], ['8:30', '8:30:00'], ['9:00', '9:00:00'], ['9:30', '9:30:00'], ['10:00', '10:00:00']],  selected: @time_start[1], :prompt =>  @time_start[0]) ,class:'form-control' %>                 
               <div class="spacing-div"></div>
               <input id= "rent-date-ending-mobile", name="rent_end_date", placeholder="Fin" > 
               <%= select_tag :rent_end_time ,options_for_select([['7:30', '7:30:00'], ['8:00', '8:00:00'], ['8:30', '8:30:00'], ['9:00', '9:00:00'], ['9:30', '9:30:00'], ['10:00', '10:00:00']],  selected: @time_end[1], :prompt => @time_end[0]) ,class:'form-control' %>  
          </div>
          <!-- fin mobile date -->
          <%= f.label "Selectionner une distance" %>
          <%= f.select :distance ,options_for_select([['Distance', 0], ['25 km', 25], ['50 km', 50], ['100 km', 100], ['200 km', 200], ['300 km', 300], ['400 km', 400],['500 km', 500], ['700 km', 700], ['800 km', 800], ['900 km', 900],['1000 km', 1000], ['1100 km', 1100], ['1200 km', 1200], ['1300 km', 1300],['1400 km', 1400], ['1500 km', 1500], ['2000 km', 2000], ['3000 km', 3000]],  selected: @distance_rental[1], :prompt => @distance_rental[0]),class:'form-control rent_distance' %>
          <!-- a refaire comme en haut -->
           <%= hidden_field_tag 'car_attributes', @car.id %>
           <%= f.submit "Réserver",class: "button-rent-mobile", disabled:false %>
          
     <% end %>
</div>



