<div class="container-new-car">
  <div class="wrap-new-car">
    <div class="form-new-car">
      <span class="title-new-car">Modifier votre voiture</span>
      </div>
      <%= form_for @car do |f| %>
        <h4 class="title-input-car">Informations du vehicule</h4>
        <div class="car-input width-395">
          <span class="label-new-car">Nom du véhicule *</span>
          <div class="input-arrow">
            <%= f.text_field :name, :placeholder => "Renault Kangoo 1.5dci 4m3", :type => "text", :maxlength => "26", :class => "input-new-car", :id => "name_car" %>
            <div onClick="clear_form_elements('#name_car')" value="clear" class="clear_input"></div>
          </div>
        </div>
        <div class="car-input width-395">
          <span class="label-new-car">Plaque *</span>
          <div class="input-arrow">
            <%= f.text_field :plaque, :placeholder => "AA-123-ZZ", :type => "text", :class => "input-new-car" , :id => "plaque" %>
            <div onClick="clear_form_elements('#plaque')" value="clear" class="clear_input"></div>
          </div>
        </div>
        <div class="car-input width-130">
          <span class="label-new-car">Année</span>
          <%= f.text_field :year, :placeholder => "année", :type => "text", :class => "input-new-car"  %>
        </div>
        <div class="car-input width-245">
          <span class="label-new-car">Type *</span>
          <div class="input-arrow">
            <%= f.select(:type_car, options_for_select([ "Utilitaire", "Compacte", "Citadine", "Minibus" ]), {},  {:class => "input-new-car" ,:id => "type_car" })%>
            <div onClick="clear_form_elements('#type_car')" value="clear" class="clear_input"></div>
          </div>
        </div>
        <div class="car-input width-187">
          <span class="label-new-car">Prix *</span>
          <%= f.text_field :price_cents, :placeholder => "Prix par jour", :type => "text", :class => "input-new-car"  %>
        </div>
        <div class="car-input width-187">
          <span class="label-new-car">Prix au km *</span>
          <%= f.text_field :price_by_km, :placeholder => "Prix au km", :type => "text", :class => "input-new-car"  %>
        </div>
        <h4 class="title-input-car">Caracteristique du vehicule</h4>
        <div class="car-input width-157">
          <span class="label-new-car">Moteur *</span>
          <div class="input-arrow">
            <%= f.text_field :engine, :placeholder => "Moteur", :type => "text", :class => "input-new-car" , :id => "engine" %>
            <div onClick="clear_form_elements('#engine')" value="clear" class="clear_input"></div>
          </div>
        </div>
        <div class="car-input width-127">
          <span class="label-new-car">Portes</span>
          <div class="input-arrow">
            <%= f.text_field :nb_door, :placeholder => "4", :type => "text", :class => "input-new-car" , :id => "nb_door" %>
            <div onClick="clear_form_elements('#nb_door')" value="clear" class="clear_input"></div>
          </div>
        </div>
        <div class="car-input width-197">
          <span class="label-new-car">Boite de vitesse *</span>
          <div class="input-arrow">
            <%= f.text_field :gearbox, :placeholder => "Manuelle", :type => "text", :class => "input-new-car" , :id => "gearbox" %>
            <div onClick="clear_form_elements('#gearbox')" value="clear" class="clear_input"></div>
          </div>
        </div>
        <div class="car-input width-267">
          <span class="label-new-car">Consommation *</span>
          <div class="input-arrow">
            <%= f.text_field :consommation, :placeholder => "Consommation L/100 km", :type => "text", :class => "input-new-car", :id => "consommation"  %>
            <div onClick="clear_form_elements('#consommation')" value="clear" class="clear_input"></div>
          </div>
        </div>
        <div class="car-input", style="width: 100%;">
          <span class="label-new-car">Adresse de stationnement *</span>
          <div class="input-arrow">
            <%= f.text_field :address, :placeholder => "Adresse de stationnement", :type => "text", :class => "input-new-car", :id => "car_address"  %>
            <div onClick="clear_form_elements('#car_address')" value="clear" class="clear_input"></div>
          </div>
        </div>
        <div class="car-input", style="width: 100%;">
          <span class="label-new-car">Description</span>
          <div class="input-arrow">
            <%= f.text_area :description, :placeholder => "Ajouter une description", :type => "text", :class => "input-new-car", :id => "description"  %>
          </div>
        </div>
        <div class="car-input", style="width: 100%;">
          <span class="label-new-car">Importer des images du véhicule * </span>
          <div class="input-arrow">
            <label class="file"><%= f.file_field :car_images, multiple: true %></label>
          </div>
        </div>
        <div class="div-btn-new-car">
          <%= button_tag type: 'submit', class: "btn-new-car" do %>
            <span style="display:flex;">Mettre à jour <i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i></span>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function clear_form_elements(ele) {
    $(ele).val('');
}
</script>