<% if @car.errors.any? %>
  <%= flash.discard(flash[:alert] = "Il manque #{@car.errors.count} #{("champ").pluralize(@car.errors.count)}!") %>
<% end %>

<%= render 'form_edit' %>

<% content_for :javascript_includes do %>
  <%= javascript_pack_tag "web/cars/cars_edit_view.js" %>
<% end %>
