<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<% if user_signed_in? && (current_user.admin? || current_user.renter?) %>
     <%= link_to 'Ajouter une voiture', new_car_path, class: 'btn btn-primary btn-lg btn-block' %>
     
<% end %>

<% unless user_signed_in? %>
    <div id="cars_results"></div>
<% end %>

<% if user_signed_in? && current_user.client? %>
    <div id="cars_results"></div>
<% end %>

<% if user_signed_in? && (current_user.renter? || current_user.admin?) %>
    <div id="cars_results" style="display : none;"></div>
    <div id="my_cars_results" style="display : none;"></div>
<% end %>

<% content_for :javascript_includes do %>
    <%= javascript_pack_tag "web/cars/cars_index_view.js" %>
<% end %>

<script src="//maps.google.com/maps/api/js?key=AIzaSyDEHC931ZRGi3Ihtl8rrA-WV3HM5jL8HQc&callback=initMap"></script>  