
<% if @car.errors.any? %>
  <%= flash.discard(flash[:alert] ="Il manque #{@car.errors.count} #{("champ").pluralize(@car.errors.count)}!") %>
<% end %>


<%= render "form" %>


<script src="//maps.google.com/maps/api/js?key=AIzaSyDEHC931ZRGi3Ihtl8rrA-WV3HM5jL8HQc&libraries=places"></script>


<% content_for :javascript_includes do %>
  <%= javascript_pack_tag "web/cars/cars_new_view.js" %>
<% end %>

