<% if user_signed_in? && (current_user.admin? || (current_user.renter? && current_user.id == @car.user_id)) %>
     <%= link_to 'Editer la voiture', edit_car_path, class: 'btn btn-primary btn-lg btn-block' %>
     <%= button_to 'Supprimer la voiture', @car, method: :delete, class: 'button-delete-car btn-lg' ,:onclick => "return confirm('Etes vous sur?')", :remote => true %>
<% end %>
<div class="header">
    <div class="scroller">
        <!-- mettre image -->
        <div class="carousel_car box-show">
            <%= carousel_for(@car.cars_thumbnail_show) %>
            <h2><%= @car.name %></h2>
            <h3><%= @car.year %>, Moteur <%= @car.engine %>, <%= @car.places %> Places, <%= @car.gearbox %></h3>
            <br>
        </div>
    </div>
    <div class="car_description">
        <div class="box-show">
            <p>adresse : <%= @car.address %><p>
            <div id="map" class="map-style">
            </div>
 
            
        </div>
        
        <% if user_signed_in? && current_user.admin? %> 
            <div class="box-show">     
                <p><%= @car.odometer %> km<p>
                <p><%= @car.fueltank %> L car Tank<p>
                <p><%= @car.computerfueltank %> L car_computer Tank<p>
            </div>
        <% end %>

        <div class="box-show"> 
            <p><%= @car.city %><p>
            <h4>Caractéristiques techniques</h4>
            <p>Moteur <%= @car.engine %><p>
            <p>Porte <%= @car.nb_door %><p>
            <p><%= @car.places %> Places<p>
            <p>Boite de Vitesse <%= @car.gearbox %><p>
            <p>Consommation <%= @car.consommation %><p>
            
        </div>
        <div class="box-show"> 
            <h4>Description</h4>
            <p><%= @car.description %><p>
            <div id="calendar"></div>
        </div>

    </div>
    <% if (@car.statut == "available" && !user_signed_in?) || (@car.statut == "available" && user_signed_in? && current_user.id != @car.user_id) %>
        <!--<div class="d-flex text-center space-btn">
            <%= link_to 'Louer ce vehicule', new_rental_path(car: @car, from: "show_car"), class: 'btn btn-success' %>
        </div>-->

        <% if @rental.errors.any? %>
            <%= flash.discard(flash[:alert] = "Il manque #{@rental.errors.count} #{("champ").pluralize(@rental.errors.count)}!") %>
        <% end %>
        <div style="padding-top:30px;">
            <div class="form-rental-div">
                <h3>Nouvelle location : <%= @car.name %></h3>
                <%= render 'form_rental' %>
            </div>
        </div>
    <% end %>
        
</div>

<script src='//cdn.jsdelivr.net/gmaps4rails/2.1.2/gmaps4rails.js'> </script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script> 
<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'> </script>
<script src="//maps.google.com/maps/api/js?key=AIzaSyAVqv2uPTtzxcozY1Ghm6iDrctok2SPShc&callback=initMap"></script>  

<script type="text/javascript">  
function initMap() {
handler = Gmaps.build('Google');  
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);  
        // to center on a marker
        handler.map.centerOn(markers[0]); 
        // to set the map zoom
        handler.getMap().setZoom(16);

    }); 
} 

google.maps.event.addDomListener(window, 'load', function() {
  initMap();
});

$(document).bind("projectLoadComplete", initMap());


</script>

<% content_for :javascript_includes do %>
     <%= javascript_pack_tag "web/cars/cars_show_view.js" %>
<% end %>





