// Place all the styles related to the RoomMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chat {
    border: 1px solid lighten($green, 40%);
    background: lighten($green, 50%);
    height: 50vh;
    border-radius: 5px 5px 0 0;
    overflow-y: auto;
  }
  
  .chat-input {
    border-top: 0 none;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: 77px;
  }
  

  .chat-message-container {
    padding: 5px;
    margin: auto;
    width: 95%;
  
    .avatar-rent {
      margin: 5px;
      width:50px;
      height:50px;
      border-radius:50%;
      vertical-align:middle;
    }
  
    .message-content {
      padding: 0px;
      //border: 1px solid grey;
      border-radius: 5px;
      //background: lighten($blue, 10%);
      color: $light-gray;
      //width: 95%;
      margin: auto;
      color:$gray;
    }
  
    & + .chat-message-container {
      margin-top: 10px;
    }
  }

  .box-chat {
    width: 95%;
    margin: auto;
  }

  .box-rental-chat{
    height:100%;
    background-color: white;
  }

  .input-group {
    width: 100%;
  }

  input[type="submit"].btn-chat{
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: #3caaaa;
    margin-bottom:10px;
  }

  input[type="submit"].btn-chat:hover {
    background-color: #4ee2e2;
  }

  .row-chat {
    margin: 0 -.5em;
    display:flex;
  }
  .col-chat {
    width:100%;
  }

  .col-auto {
    margin:auto;
  }

  .mb-1 {
    margin-left:15px;
  }

  .text-right {
    text-align: right;
    margin-right: 15px;
}

  
  @media (max-width: 700px) { 

    .chat-input {
      border-top: 0 none;
      border-radius: 0 0 5px 5px;
      width: 100%;
      height: 50px;
    }

  .chat-message-container {
    padding: 5px;
    margin: auto;
    width: 95%;
  
    .avatar-rent {
      margin: 5px;
      width:30px;
      height:30px;
      border-radius:50%;
      vertical-align:middle;
    }
  
    .message-content {
      padding: 0px;
      //border: 1px solid grey;
      border-radius: 5px;
      //background: lighten($blue, 10%);
      color: $light-gray;
      //width: 95%;
      margin: auto;
      font-size:14px;
      color:$gray;
    }
  
    & + .chat-message-container {
      margin-top: 10px;
    }
  }

  input[type="submit"].btn-chat{
    margin: auto;
    width: 100%;
    height: 30px;
    background-color: #3caaaa;
    margin-bottom:10px;
    font-size: 14px;
  }

  input[type="submit"].btn-chat:hover {
    background-color: #4ee2e2;
  }

  .mb-1 {
    margin-left:10px;
  }

  .text-right {
    text-align: right;
    margin-right: 10px;
}
}

