<div class="container-devise">
  <div class="card-stripe">
    <fieldset>
      <legend class="card-only">
        Informations du véhicule
      </legend>
      <div class="card-car-info-charge">
        <%= image_tag @car.cars_thumbnail.first, class: "image-size-charge-car" %>
        <div class="charge-description-car">
            <h3><%= @car.name %></h3>        
            <p><%= @car.plaque %></p>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="card-stripe">
    <fieldset>
      <legend class="card-only">
        Informations de la location
      </legend>
      

    </fieldset>
  </div>

  <div class="card-stripe">
    <fieldset>
      <legend class="card-only">
        Choisissez une protection
      </legend>
      

    </fieldset>
  </div>

  <form action="/charges" method="post" id="payment-form" class="card-stripe">
    <fieldset>
      <legend class="card-only">
        Payer par carte bancaire
      </legend>

      <div class="form-row">
        <div class="field">
          <label for="stripe-firstname">Nom</label>
          <input id="stripe-firstname" class="input" type="text" placeholder="Cao">
        </div>
      </div>
      <div class="form-row">
        <div class="field">
          <label for="stripe-name">Prénom</label>
          <input id="stripe-name" class="input" type="text" placeholder="Evan">
        </div>
      </div>
      <div class="form-row">
        <div class="field">
          <label for="card-element">
            Payer par carte bancaire
          </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>
        </div>

        <!-- Used to display Element errors. -->
        <div id="card-errors" role="alert"></div>
      </div>

      <button>Payer <%= @rental.total_price_cents %> €</button>
    </fieldset>
  </form>
</div>
<% content_for :javascript_includes do %>
  <%= javascript_pack_tag "stripe/stripe.js" %>
<% end %>