<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MiFleet - Loueur de vehicule 2.0</title>

    <!--<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">-->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= include_gon(:init => true) %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <!-- WORKING GOOGLE MAP -->


<!-- END -->
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <script src="//maps.google.com/maps/api/js?key=AIzaSyDEHC931ZRGi3Ihtl8rrA-WV3HM5jL8HQc&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Third party plugin JS-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!--<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>-->
    <% if (controller_name != "cars_app") && (controller_name != "rentals_app") && (controller_name != "rentals_step") %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :javascript_includes %>
    <!--<%= javascript_pack_tag 'hello_react' %>-->
    <%= yield :scripts %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  </body>
</html>


