
<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MiFleet - Loueur de vehicule 2.0</title>

    <!--<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">-->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
      <%= stylesheet_link_tag 'charges' , media: 'all'  %>
      <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>

     <%= yield %>

    </body>



     <%= yield :javascript_includes %>



</html>
