
<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>MiFleet - Loueur de vehicule 2.0</title>

      <!--<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">-->
      <%= csrf_meta_tags %>
      <%= action_cable_meta_tag %>
      <%= stylesheet_link_tag 'application' , media: 'all'  %>
      <%= stylesheet_link_tag 'dashboard' , media: 'all'  %>
    </head>
    <body class="<%= controller_name %> <%= action_name %>">
      <% if (controller_name != "cars_app") && (controller_name != "rentals_app") && (controller_name != "rentals_step") %>
        <%= render 'shared/navbar' %>
      <% end %>
    
      <%= render 'shared/navbar_dash' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_pack_tag 'application' %>
      <%= javascript_pack_tag 'web/dashboard/index' %>
      <%= yield :javascript_includes %>
    </body>

</html>

